<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600i&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="../public/css/style2.css">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <title>Profil</title>
    <style>
        th,td{
            border: 1px solid rgb(14, 14, 126);
            padding: 8px;
        }
        table{
            margin: 100px auto;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    <div class="wrapper">

        <div class="navbar-wrapper">
            <nav>
                <ul>
                    <li><a href="home">Home</a></li>
                    <li><a id="medecins" href="medecins">Medecins</a></li>
                    <li><a id="newValues" href="newvalues">New values</a></li>
                </ul>
                <ul class="log-out">
                    <li><a href="/logout">Log out</a></li>
                </ul>
            </nav>
        </div>

        <div class="content-wrapper">
            
            <table>
                <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Email</th>
                    <th>Pays</th>
                    <th>Ville</th>
                    <th>Debut contrat</th>
                    <th>Fin contrat</th>
                </tr>
                <% oldMedecins.forEach((_medecin)=>{ %>
                    <tr>
                        <td><%= _medecin.medecin.nom %></td>
                        <td><%= _medecin.medecin.prenom %></td>
                        <td><%= _medecin.medecin.email %></td>
                        <td><%= _medecin.medecin.pays %></td>
                        <td><%= _medecin.medecin.ville %></td>
                        <td><%= _medecin.debutContrat %></td>
                        <td><%= _medecin.finContrat %></td>
                        <td><a href='medecinProfile?id=<%= _medecin.medecin._id %>' style="text-decoration: none; color: black;">Consulter</a></td>
                    </tr>
                <% }); %>
                
            </table>
        </div>
        

    </div>
    
</body>
</html>