<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prelevements</title>
</head>
<body>
    <div class="wrapper">

        <div>
                <% prelevements.forEach((prelevement)=>{ %>
                    
                    <h4>Date : <%= prelevement.date %></h4>
                    <h6>--------------------------------------</h6>
                    <h5>Prelevements : </h5>
                    <h6><strong>Temperatures:</strong></h6>
                    <% prelevement.temperature.forEach((temperature) => { %>
                        <h6>Temps : <%= temperature.temps%></h6>
                        <h6>Valeur : <%= temperature.valeur%></h6>
                        <h6>--------------------------------------</h6>
                    <% }); %>
                    <h6>--------------------------------------</h6>
                    <h6><strong>Tensions Systolique:</strong></h6>
                    <% prelevement.tensionSystolique.forEach((tension) => { %>
                        <h6>Temps : <%= tension.temps%></h6>
                        <h6>Valeur : <%= tension.valeur%></h6>
                        <h6>--------------------------------------</h6>
                    <% }); %>
                    <h6>--------------------------------------</h6>
                    <h6><strong>Tensions Diastolique:</strong></h6>
                    <% prelevement.tensionDiastolique.forEach((tension) => { %>
                        <h6>Temps : <%= tension.temps%></h6>
                        <h6>Valeur : <%= tension.valeur%></h6>
                        <h6>--------------------------------------</h6>
                    <% }); %>
                    <h6>--------------------------------------</h6>
                    <h6><strong>Taux d'oxygène:</strong></h6>
                    <% prelevement.tauxOxygen.forEach((tauxOxygen) => { %>
                        <h6>Temps : <%= tauxOxygen.temps%></h6>
                        <h6>Valeur : <%= tauxOxygen.valeur%></h6>
                        <h6>--------------------------------------</h6>
                    <% }); %>
                    <h6>--------------------------------------</h6>
                    <h6><strong>Taux de glucose:</strong></h6>
                    <% prelevement.tauxGlucose.forEach((tauxGlucose) => { %>
                        <h6>Temps : <%= tauxGlucose.temps%></h6>
                        <h6>Valeur : <%= tauxGlucose.valeur%></h6>
                        <h6>--------------------------------------</h6>
                    <% }); %>
                    <h6>--------------------------------------</h6>
                    
                <% }); %>
        </div>

    </div>
    <script type="text/javascript" src="../public/js/main.js"></script>
</body>
</html>