<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600i&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="../public/css/style2.css">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <title>Profil</title>
    <style>
        th,td{
            border: 1px solid rgb(14, 14, 126);
            padding: 8px;
        }
        table{
            margin: 100px auto;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    <div class="wrapper">

        <div class="navbar-wrapper">
            <nav>
                <ul>
                    <li><a href="home">Home</a></li>
                    <li><a id="medecins" href="medecins">Medecins</a></li>
                    <li><a id="newValues" href="newvalues">New values</a></li>
                </ul>
                <ul class="log-out">
                    <li><a href="/logout">Log out</a></li>
                </ul>
            </nav>
        </div>

        <div class="content-wrapper">

                <div style="margin: 20px auto;" >
                    <input class="patients" type="radio" checked="true" name="patients" id="current" value="current" onclick="getPatients()">
                    <label for="current" style="color: #000;" >Patients actuels</label>
                    <input class="patients" type="radio" name="patients" id="old" value="old" onclick="getPatients()">
                    <label for="old" style="color: #000" >Anciens patients</label>
                </div>
            
            <table id="currentPatients">
                <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Email</th>
                    <th>Pays</th>
                    <th>Ville</th>
                    <th>Debut contrat</th>
                </tr>
                <% currentPatients.forEach((patient)=>{ %>
                    <tr>
                        <td><%= patient.utilisateur.nom %></td>
                        <td><%= patient.utilisateur.prenom %></td>
                        <td><%= patient.utilisateur.email %></td>
                        <td><%= patient.utilisateur.pays %></td>
                        <td><%= patient.utilisateur.ville %></td>
                        <td><%= patient.debutContrat %></td>
                        <td><a href='userProfile?id=<%= patient.utilisateur._id %>' style="text-decoration: none; color: black;">Profile</a></td>
                        <td><a href='patientValues?id=<%= patient.utilisateur._id %>' style="text-decoration: none; color: black;">Prelevement</a></td>
                        <td><a href='userAlerts?id=<%= patient.utilisateur._id %>' style="text-decoration: none; color: black;">Alerts</a></td>
                    </tr>
                <% }); %>
                
            </table>

            <table id="oldPatients" style="display: none;">
                <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Email</th>
                    <th>Pays</th>
                    <th>Ville</th>
                    <th>Debut contrat</th>
                    <th>Fin contrat</th>
                </tr>
                <% oldPatients.forEach((patient)=>{ %>
                    <tr>
                        <td><%= patient.utilisateur.nom %></td>
                        <td><%= patient.utilisateur.prenom %></td>
                        <td><%= patient.utilisateur.email %></td>
                        <td><%= patient.utilisateur.pays %></td>
                        <td><%= patient.utilisateur.ville %></td>
                        <td><%= patient.debutContrat %></td>
                        <td><%= patient.finContrat %></td>
                        <td><a href='userProfile?id=<%= patient.utilisateur._id %>' style="text-decoration: none; color: black;">Profile</a></td>
                    </tr>
                <% }); %>
                
            </table>
        </div>
        

    </div>
    <script type="text/javascript">
        function getPatients() {
            if(document.getElementById("current").checked) {
                document.getElementById("currentPatients").style.display = "block";
                document.getElementById("oldPatients").style.display = "none";
            }
            else {
                document.getElementById("currentPatients").style.display = "none";
                document.getElementById("oldPatients").style.display = "block";
            }
        }
    </script>
</body>
</html>