<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600i&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="../public/css/style2.css">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <title>Profil</title>
    <style>
        th,td{
            border: 1px solid rgb(14, 14, 126);
            padding: 8px;
        }
        table{
            margin: 100px auto;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    <div class="wrapper">

        <div class="navbar-wrapper">
            <nav>
                <ul>
                    <li><a href="home">Home</a></li>
                    <li><a id="demandes" href="demandes">Demandes</a></li>
                    <li><a id="patients" href="patients">Demandes</a></li>
                </ul>
                <ul class="log-out">
                    <li><a href="/logout">Log out</a></li>
                </ul>
            </nav>
        </div>

        <div class="content-wrapper">
            
            <table>
                <tr>
                    <th>Nom de la mesure</th>
                    <th>Type</th>
                    <th>Sous type</th>
                    <th>Valeur min</th>
                    <th>Valeur max</th>
                    <th>Unité</th>
                    <th>Abréviation de l'unité</th>
                </tr>
                <% seuils.forEach((seuil)=>{ %>
                    <tr>
                        <td><%= seuil.nom %></td>
                        <td><%= seuil.type %></td>
                        <td><%= seuil.sousType %></td>
                        <td><%= seuil.valMin %></td>
                        <td><%= seuil.valMax %></td>
                        <td><%= seuil.unite %></td>
                        <td><%= seuil.abreviation %></td>
                    </tr>
                <% }); %>
                
            </table>
        </div>
        

    </div>
   
</body>
</html>