<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600i&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="../public/css/style2.css">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <title>Profil</title>
    <style>
        th,td{
            border: 1px solid rgb(14, 14, 126);
            padding: 8px;
        }
        table{
            margin: 100px auto;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    <div class="wrapper">

        <div class="navbar-wrapper">
            <nav>
                <ul>
                    <li><a href="home">Home</a></li>
                    <li><a href="medecins">Medecin</a></li>
                    <li><a href="newvalues">New values</a></li>
                </ul>
                <ul class="log-out">
                    <li><a href="/logout">Log out</a></li>
                </ul>
            </nav>
        </div>

        <div class="content-wrapper">
            <table>
                <tr>
                    <th>Date</th>
                    <th>Temps</th>
                    <th>Mesure</th>
                    <th>Alert</th>
                    <th>Difference</th>
                </tr>
                    <% alerts.forEach((alert)=>{ %>
                        <tr>
                            <td><%= alert.date %></td>
                            <td><%= alert.temps %></td>
                            <td><%= alert.mesure %></td>
                            <td><%= alert.text %></td>
                            <td><%= alert.difference %></td>
                        </tr>
                    <% }); %>
                
            </table>
        </div>
        
    </div>
    
</body>
</html>