<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnJrXngJ0DrtiTETEfO3XhADAF-fK9Nqs&callback=initMap">
    </script>
    <style>
        #map{
            width: 400px;
            height: 400px;
        }
    </style>
    <script>
        
        /*
        x = navigator.geolocation;
        x.getCurrentPosition(success,failure);
        function success(position){
            var myLat = position.coords.latitude;
            var myLong = position.coords.longitude;

            var coords = new google.maps.LatLng(myLat,myLong);
            var mapOptions = {
                zoom : 8,
                center: coords,
                mapTypeId : google.maps.MaptypeId.ROADMAP
            }
            var map = new google.maps.Map(document.getElementById('map'),mapOptions);
            var marker = new google.maps.Marker({map:map,position:coords});
        }
        function failure(){

        }*/
        function getLocation(){
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            }
            else{
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        }
        function showPosition(position){
            //document.getElementById('demo').innerHTML = "Latitude : "+position.coords.latitude;
            var map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: position.coords.latitude, lng: position.coords.longitude},
            zoom: 4
            });
            var marker = new google.maps.Marker({position: {lat: position.coords.latitude, lng: position.coords.longitude}, map: map});
            var url = new URL( window.location.href)
            

        }
        function replaceQueryParam(param, newval, search) {
            var regex = new RegExp("([?;&])" + param + "[^&;]*[;&]?");
            var query = search.replace(regex, "$1").replace(/&$/, '');

            return (query.length > 2 ? query + "&" : "?") + (newval ? param + "=" + newval : '');
        }
        function send(){
            var url = new URL( window.location.href)
            navigator.geolocation.getCurrentPosition(position=>{
                //url.searchParams.set('lat',position.coords.latitude );
                //url.searchParams.set('long',position.coords.longitude );
                //console.log(url.href);
                var str = window.location.search
                str = replaceQueryParam('lat', position.coords.latitude, str)
                str = replaceQueryParam('long', position.coords.longitude, str)
                window.location = window.location.pathname + str
            })
        }
        
    
    </script>

</head>
<body>
    <button onclick="getLocation()">Get location</button>
    <p id='demo'>location</p> 
    <input type="submit" value="Send Location" onclick="send()">
    
    <div id="map"></div>   

    <form action="/location" method="GET">
        
    </form>
    <div id="currentMedecins">
        <table class="table table-sortable table-7">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Pays</th>
                    <th>Ville</th>
                    <th>Spécialité</th>
                    <th>Debut suivi</th>
                </tr>
            </thead>
            <tbody>
                <% currentMedecins.forEach((_medecin)=>{ %>
                <tr>
                    <td data-label="Nom"><%= _medecin.medecin.nom %></td>
                    <td data-label="Prénom"><%= _medecin.medecin.prenom %></td>
                    <td data-label="Pays"><%= _medecin.medecin.pays %></td>
                    <td data-label="Ville"><%= _medecin.medecin.ville %></td>
                    <td data-label="Spécialité"><%= _medecin.medecin.specialite %></td>
                    <td data-label="Début suivi"><%= _medecin.debutSuivi %></td>
                    <td><a class="btn" href='medecinProfile?id=<%= _medecin.medecin._id %>'>Consulter</a>
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</body>

</html>