<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PFA</title>
    <link rel="stylesheet" href="public/css/style.css" type="text/css">
    <script src="public/js/icons.js" ></script>
</head>

<body>
    <nav class="navigation-bar">
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn"><i class="fas fa-bars"></i></label>
        <label class="logo">LOGO</label>
        <ul id="navMedecin">
            <li><a href="medecinHome">Accueil</a></li>
            <li><a href="dayValues">Santé</a></li>
            <li><a href="demandes">Demandes</a></li>
            <li><a href="patients">Patients</a></li>
            <li><a class="active">Seuils</a></li>
            <li><a href="myProfileMedecin">Profil</a></li>
            <li><a href="/logout">Deconnexion</a></li>
        </ul>
        <ul id="navPatient">
            <li><a href="patientHome">Accueil</a></li>
            <li><a href="patientValues">Prélévements</a></li>
            <li><a href="#">Statistiques</a></li>
            <li><a href="medecins">Médecins</a></li>
            <li><a href="seuils">Seuils</a></li>
            <li><a href="myProfileUser">Profil</a></li>
            <li><a href="/logout">Deconnexion</a></li>
        </ul>
    </nav>
    <div class="container-home">
        <div class="container-header container-img-header">
            <div class="overlay"></div>
            <img src="public/images/list.jpg" class="img-header">
            <h1 class="text-header">Les seuils normal</h1>
        </div>
        <div class="container-body">
            <table class="table table-sortable table-7">
                <thead>
                    <tr>
                        <th>Mésure</th>
                        <th>Type</th>
                        <th>Sous type</th>
                        <th>Valeur min</th>
                        <th>Valeur max</th>
                        <th>Unité</th>
                        <th>Abréviation de l'unité</th>
                    </tr>
                </thead>
                <tbody>
                    <% seuils.forEach((seuil)=>{ %>
                    <tr>
                        <td data-label="Nom de la mesure"><%= seuil.nom %></td>
                        <td data-label="Type"><%= seuil.type %></td>
                        <td data-label="Sous type"><%= seuil.sousType %></td>
                        <td data-label="Valeur min"><%= seuil.valMin %></td>
                        <td data-label="Valeur-max"><%= seuil.valMax %></td>
                        <td data-label="Unité"><%= seuil.unite %></td>
                        <td data-label="Abréviation de l'unité"><%= seuil.abreviation %></td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>


    </div>


</body>

<script src="public/js/userNav.js"></script>
<script src="public/js/sortedTable.js"></script>
<script src="public/js/app.js"></script>

</html>