<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PFA</title>
    <link rel="stylesheet" href="public/css/style.css" type="text/css">
    <script src="https://kit.fontawesome.com/dff21dd380.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navigation-bar">
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn"><i class="fas fa-bars"></i></label>
        <label class="logo">LOGO</label>
        <ul>
            <li><a href="patientHome">Accueil</a></li>
            <li><a href="#">Statistiques</a></li>
            <li><a href="medecins">Médecins</a></li>
            <li><a href="seuils">Seuils</a></li>
            <li><a class="active"> Profil</a></li>
            <li><a href="/logout">Deconnexion</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="container-header container-img-header">
            <div class="overlay"></div>
            <img src="public/images/doctor.jpg" class="img-header">
            <h1 class="text-header">Profil</h1>
        </div>
        <div class="container-body">
            <form class="profil" method="POST">
                <label>
                    <span>Nom complet</span>
                    <input class="login-input" type="text" name="fullname" value="<%= user.nom %> <%=user.prenom %>">
                </label>
                <label>
                    <span>Email</span>
                    <input class="login-input" type="text" name="email" value="<%= user.email %>">
                </label>
                <label>
                    <span>Téléphone</span>
                    <input class="login-input" type="number" name="phone" value="<%= user.telephone %>">
                </label>
                <label>
                    <span>Pays</span>
                    <input class="login-input" type="text" name="pays" value="<%=  user.pays %>">
                </label>
                <label>
                    <span>Ville</span>
                    <input class="login-input" type="text" name="ville" value="<%=  user.ville %>">
                </label>
                <label>
                    <span>Age</span>
                    <input class="login-input" type="text" name="birthday" value="<%= user.age %>" required>
                </label>
                <label>
                    <span>Groupe sanguin</span>
                    <input class="login-input" type="text" value="<%= user.groupeSanguin %>">
                </label>
            
                <label>
                    <span>Medecin actuel</span><br>
                    <% if(currentMedecin) { %>
                        <div class="buttons">
                            <a class="btn btn-success" href='medecinProfile?id=<%= currentMedecin.id %>' ><%= currentMedecin.nom %> <%= currentMedecin.prenom %></a>
                        </div>
                    <%}%>
                </label>
                <!-- <% if(user.maladies != null) { %>
                <label>-->
                <label>
                    <span>Anciens medecins</span>
                    <div class="buttons">
                        <a class="btn btn-success" href='oldMedecins'>Anciens Medecin</a>
                    </div>
                <label>
                <span>Maladies</span>
                <% user.maladies.forEach((maladie) => { %> -->
                    <input class="login-input" type="text" value="<%= maladie%>">
                <%})%>
                </label>
                <!-- <%}%> -->
                <!--<div class="buttons">
                    <button type="submit" href="#" class="btn btn-success">Sauvegarder</button>

                </div>-->
            </form>
        </div>
    </div>


    </div>


</body>

<script src="public/js/sortedTable.js"></script>
<script src="public/js/app.js"></script>

</html>