<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PFA</title>
    <link rel="stylesheet" href="public/css/style.css" type="text/css">
    <script src="https://kit.fontawesome.com/dff21dd380.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navigation-bar">
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn"><i class="fas fa-bars"></i></label>
        <label class="logo">LOGO</label>
        <ul>
            <li><a href="patientHome">Accueil</a></li>
            <li><a href="patientValues">Prélévements</a></li>
            <li><a href="#">Statistiques</a></li>
            <li><a href="medecins">Médecins</a></li>
            <li><a href="seuils">Seuils</a></li>
            <li><a href="myProfileUser">Profil</a></li>
            <li><a href="/logout">Deconnexion</a></li>
        </ul>
    </nav>
    <div class="big-container">
        <div class="container-header container-img-header">
            <div class="overlay"></div>
            <img src="public/images/list.jpg" class="img-header">
            <h1 class="text-header">Vos anciens médecins </h1>
        </div>
        <div class="container-body">
            <table class="table table-sortable table-7">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Email</th>
                        <th>Pays</th>
                        <th>Ville</th>
                        <th>Debut contrat</th>
                        <th>Fin contrat</th>
                    </tr>
                </thead>
                <tbody>
                    <% oldMedecins.forEach((_medecin)=>{ %>
                    <tr>
                        <td data-label="Nom"><%= _medecin.medecin.nom %></td>
                        <td data-label="Prénom"><%= _medecin.medecin.prenom %></td>
                        <td data-label="Email"><%= _medecin.medecin.email %></td>
                        <td data-label="Pays"><%= _medecin.medecin.pays %></td>
                        <td data-label="Ville"><%= _medecin.medecin.ville %></td>
                        <td data-label="Début contrat"><%= _medecin.debutContrat %></td>
                        <td data-label="Fin contrat"><%= _medecin.finContrat %></td>
                        <td><a class="btn" href='medecinProfile?id=<%= _medecin.medecin._id %>'>Consulter</a></td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>


    </div>


</body>

<script src="public/js/sortedTable.js"></script>
<script src="ppublic/js/app.js"></script>

</html>