<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PFA</title>
    <link rel="stylesheet" href="public/css/style.css" type="text/css">
    <script src="https://kit.fontawesome.com/dff21dd380.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navigation-bar">
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn"><i class="fas fa-bars"></i></label>
        <label class="logo">LOGO</label>
        <ul>
            <li><a href="medecinHome">Accueil</a></li>
            <li><a class="active">Prelevements</a></li>
            <li><a href="demandes">Demandes</a></li>
            <li><a href="patients">Patients</a></li>
            <li><a href="seuils">Seuils</a></li>
            <li><a href="myProfileMedecin">Profil</a></li>
            <li><a href="/logout">Deconnexion</a></li>
        </ul>
    </nav>
    <div>
        <div class="container-img-header container-header">
            <div class="overlay"></div>
            <img src="public/images/patient.jpg" class="img-header">
            <h1 class="text-header" id="date"></h1>
        </div>

        <div class="container-body">
            <table class="table table-sortable table-7">
                <thead id="table-head">
                    <tr>
                        <th>Nom et prénom</th>
                        <th>temps</th>
                        <th>Température</th>
                        <th>Tension systolique</th>
                        <th>Tension diastolique</th>
                        <th>Taux d'oxygène</th>
                        <th>Taux de glucose</th>
                    </tr>
                </thead>
                <tbody>
                    <% values.forEach(value => {%>
                            <% for(i = 0; i < value.temperature.length; i++) { %>
                                <tr>
                                    <td data-label="Nom  et prénom"><a href='userProfile?id=<%= value.utilisateur._id %>' class="btn"><%= value.utilisateur.nom %> <%= value.utilisateur.prenom %></a></td>
                                    <td data-label="Temps"><%= value.temperature[i].temps %></td>
                                    <td data-label="Température"><%= value.temperature[i].valeur %></td>
                                    <td data-label="Tension"><%= value.tensionSystolique[i].valeur %></td>
                                    <td data-label="Tension"><%= value.tensionDiastolique[i].valeur %></td>
                                    <td data-label="Oxygène"><%= value.tauxOxygen[i].valeur %></td>
                                    <td data-label="Glucose"><%= value.tauxGlucose[i].valeur %></td>
                                    <td data-label="Prélévements"><a href='patientValues?id=<%= value.utilisateur._id %>' class="btn btn-success">Prélévements</a></td>
                                </tr>
                            <% } %>
                    <% }) %>
                    <!--<tr>
                        <td data-label="Nom  et prénom"><a href="#" class="btn">Zakaria amar</a></td>
                        <td data-label="Age">35</td>
                        <td data-label="Température">38</td>
                        <td data-label="Tension">12</td>
                        <td data-label="Tension">12</td>
                        <td data-label="Oxygène">66</td>
                        <td data-label="Glucose">100</td>
                        <td data-label="Profil"><a href="#" class="btn">Profil</a></td>
                        <td data-label="Prélévements"><a href="#" class="btn btn-success">Prélévements</a></td>
                        <td data-label="Alertes"><a href="#" class="btn btn-echec">Alertes</a></td>
                    </tr>-->

                </tbody>
            </table>
        </div>


    </div>


</body>

<script src="public/js/sortedTable.js"></script>
<script src="public/js/date.js"></script>


</html>