<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PFA</title>
    <link rel="stylesheet" href="public/css/style.css" type="text/css">
    <script src="public/js/icons.js"></script>
</head>

<body>
    <nav class="navigation-bar">
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn"><i class="fas fa-bars"></i></label>
        <label class="logo">LOGO</label>
        <ul>
            <li><a href="medecinHome">Accueil</a></li>
            <li><a href="patientValues" class="active">Santé</a></li>
            <li><a href="demandes">Demandes</a></li>
            <li><a href="patients">Patients</a></li>
            <li><a href="myProfileMedecin">Profil</a></li>
            <li><a href="/logout">Deconnexion</a></li>
        </ul>
    </nav>
    <div class="container-home">
        <div class="container-img-header container-header">
            <div class="overlay"></div>
            <img src="public/images/patient.jpg" class="img-header">
            <h1 class="text-header" id="date"></h1>
        </div>

        <div class="container-body">
            <table class="table table-sortable table-7">
                <thead id="table-head">
                    <tr>
                        <th>Patient</th>
                        <th>Heure</th>
                        <th>Température</th>
                        <th>Tension systolique</th>
                        <th>Tension diastolique</th>
                        <th>Taux d'oxygène</th>
                        <th>Taux de glucose</th>
                    </tr>
                </thead>
                <tbody>
                    <% values.forEach(value => {%>
                    <% for(i = 0; i < value.temperature.length; i++) { %>
                    <tr>
                        <td id="patient" data-label="Patient"><a href='userProfile?id=<%= value.utilisateur._id %>'
                                class="btn"><%= value.utilisateur.nom %> <%= value.utilisateur.prenom %></a></td>
                        <td data-label="Heure"><%= value.temperature[i].temps %></td>
                        <td data-label="Température"><%= value.temperature[i].valeur %></td>
                        <td data-label="Tension systolique"><%= value.tensionSystolique[i].valeur %></td>
                        <td data-label="Tension diastolique"><%= value.tensionDiastolique[i].valeur %></td>
                        <td data-label="Taux d'oxygène"><%= value.tauxOxygen[i].valeur %></td>
                        <td data-label="Taux de glucose"><%= value.tauxGlucose[i].valeur %></td>
                        <td data-label="Santé"><a href='patientValues?id=<%= value.utilisateur._id %>'
                                class="btn btn-success">Santé</a></td>
                    </tr>
                    <% } %>
                    <% }) %>
                </tbody>
            </table>
        </div>


    </div>


</body>

<script src="public/js/sortedTable.js"></script>
<script src="public/js/date.js"></script>


</html>