<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PFA</title>
    <link rel="stylesheet" href="public/css/style.css" type="text/css">
    <script src="public/js/icons.js"></script>
</head>

<body>
    <nav class="navigation-bar">
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn"><i class="fas fa-bars"></i></label>
        <label class="logo">LOGO</label>
        <ul>
            <li><a href="medecinHome">Accueil</a></li>
            <li><a href="dayValues" class="active">Santé</a></li>
            <li><a href="demandes">Demandes</a></li>
            <li><a href="patients">Patients</a></li>
            <li><a href="myProfileMedecin">Profil</a></li>
            <li><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
        </ul>
    </nav>
    <div class="container-home">
        <div class="container-img-header container-header">
            <div class="overlay"></div>
            <img src="public/images/patient.jpg" class="img-header">
            <h1 class="text-header" id="date"></h1>
        </div>

        <div class="container-body">
            <div id="choice" onchange="selectChoice()">
                <input id="temperature" type="checkbox" checked="true" name="temperature" value="temperature">
                <label for="temperature">temperature</label>
                <input id="tensionSys" type="checkbox" checked="true" name="tensionSystolique" value="tensionSystolique">
                <label for="tensionSystolique">tension systolique</label>
                <input id="tensionDia" type="checkbox" checked="true" name="tensionDiastolique" value="tensionDiastolique">
                <label for="tensionDiastolique">tension diastolique</label>
                <input id="oxygen" type="checkbox" checked="true" name="tauxOxygen" value="tauxOxygen">
                <label for="tauxOxygen">taux oxygen</label>
                <input id="glucose" type="checkbox" checked="true" name="tauxGlucose" value="tauxGlucose">
                <label for="tauxGlucose">taux glucose</label>
                
            </div>
            <input name="name" id="searchNom" type="text" placeholder="nom complet" onkeyup="searchPatient()">
            <table id="dayValues" class="table table-sortable table-7">
                <thead id="table-head">
                    <tr>
                        <th>Patient</th>
                        <th>Heure</th>
                        <th class="temperatureHead">Température</th>
                        <th class="tensionSysHead">Tension systolique</th>
                        <th class="tensionDiaHead">Tension diastolique</th>
                        <th class="oxygenHead">Taux d'oxygène</th>
                        <th class="glucoseHead">Taux de glucose</th>
                    </tr>
                </thead>
                <tbody>
                    <% values.forEach(value => {%>
                    <% for(i = 0; i < value.temperature.length; i++) { %>
                    <tr>
                        <td id="patient" data-label="Patient"><a href='userProfile?id=<%= value.utilisateur._id %>'
                                class="btn"><%= value.utilisateur.nom %> <%= value.utilisateur.prenom %></a></td>
                        <td data-label="Heure"><%= value.temperature[i].temps %></td>
                        <td class="temperatureBody" data-label="Température"><%= value.temperature[i].valeur %></td>
                        <td class="tensionSysBody" data-label="Tension systolique"><%= value.tensionSystolique[i].valeur %></td>
                        <td class="tensionDiaBody" data-label="Tension diastolique"><%= value.tensionDiastolique[i].valeur %></td>
                        <td class="oxygenBody" data-label="Taux d'oxygène"><%= value.tauxOxygen[i].valeur %></td>
                        <td class="glucoseBody" data-label="Taux de glucose"><%= value.tauxGlucose[i].valeur %></td>
                        <td data-label="Santé"><a href='patientValues?id=<%= value.utilisateur._id %>'
                                class="btn btn-success">Santé</a></td>
                    </tr>
                    <% } %>
                    <% }) %>
                </tbody>
            </table>
        </div>


    </div>


</body>
<script src="public/js/filtres.js"></script>
<script src="public/js/sortedTable.js"></script>
<script src="public/js/date.js"></script>


</html>