<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PFA</title>
    <link rel="stylesheet" href="public/css/style.css" type="text/css">
    <script src="public/js/icons.js"></script>
</head>

<body>
    <nav class="navigation-bar">

        <input type="checkbox" id="check">
        <div class="ham-logo">
            <label for="check" class="checkbtn"><i class="fas fa-bars"></i></label>
            <div class="log">
                <a href="patientHome"><img src="/public/images/logoPFA.png" class="logo"></a>
            </div>
        </div>

        <ul class="nav-items">
            <li><a href="dayValues">Santé</a></li>
            <li><a href="demandes">Demandes</a></li>
            <li><a href="patients">Patients</a></li>
        </ul>

        <div class="param">
            <ul>
                <div class="par">
                    <li id="li-alert">
                        <a type="button" onclick="showAlerts()"><i class="fa fa-exclamation-triangle"
                                aria-hidden="true"></i> </a>
                    </li>
                    <p class="desc" id="alert">Alertes</p>
                    <p id="numberOfAlerts" class="notif"></p>
                    <div id="alerts" class="notif-div" id="alert-div-items">
                        <ul>
                            <% alerts.forEach(alert => { %>

                            <% if(alert.date == new Date(new Date().toISOString().split('T')[0])+"" ) { %>
                            <li>
                                <a href="userAlerts?id=<%= alert.utilisateur.id %>">
                                    <div class="notif-line">
                                        <div class="notif-img"><i class="fa fa-exclamation-triangle"></i></div>
                                        <% if(!alert.alertedMedecin.some(el => el == medecin.id)) { %>
                                        <div name="noAlerted" class="notif-text"><%= alert.text %> </div>
                                        <% } else { %>
                                        <div class="notif-text"><%= alert.text %> </div>
                                        <% } %>
                                    </div>
                                </a>
                            </li>

                            <% } %>
                            <% }) %>

                        </ul>
                    </div>

                </div>
                <div class="par">
                    <li id="li-notif">
                        <a type="button" onclick="showNotifications()"><i class="fa fa-bell" aria-hidden="true"></i></a>
                    </li>
                    <p class="desc" id="notif">Notifications</p>
                    <p id="numberOfNotif" class="notif"></p>
                    <div id="notifs" class="notif-div" id="notif-div-items">
                        <ul>
                            <% medecin.demandes.forEach(demande => { %>
                            <li>
                                <a href="userProfile?id=<%= demande._id %>">
                                    <div class="notif-line">
                                        <div class="notif-img"><i class="fa fa-user-md" aria-hidden="true"></i>
                                        </div>
                                        <div class="notif-text"><%= demande.nom %> <%= demande.prenom %> </div>
                                    </div>
                                </a>
                            </li>
                            <% }) %>
                        </ul>
                    </div>
                </div>
                <div class="par">
                    <li id="li-profil">
                        <a id="aProfile" href="myProfileMedecin"><i class="fa fa-user" aria-hidden="true"></i></a>
                    </li>
                    <p class="desc desc-profil" id="profil">Profil</p>
                </div>
            </ul>
        </div>
        <div class="param">
            <div class="last-par">
                <ul>
                    <li id="li-dec"><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
                    <p class="desc desc-dec" id="dec">Deconnexion</p>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-home">
        <div class="container-header container-img-header">
            <img src="public/images/red.jpg" class="img-header">
            <h1 class="text-header">La liste des alertes</h1>
        </div>

        <div class="container-body">
            <div class=" columns filter-bar">
                <div class="col filter-input-div" id="dates">
                    <div class="col filter-input-div">
                        <i class="fa fa-search search-icon" aria-hidden="true"></i>
                        <input class="filter-input" name="name" id="searchNom" type="text" placeholder="Nom complet"
                            onkeyup="searchPatient()">
                    </div>
                </div>
                <div class="col filter-check" id="choice" onchange="selectChoiceAlerts()">
                    <div class="par btn-success">
                        <p class="desc " id="desc-temp">Température</p>
                        <label>
                            <img class="check-icon" id="temp" src="/public/icons/temperature-measure.png"
                                onmousemove="addDesc(this.id)" onmouseout="removeDesc(this.id)">
                            <input id="temperature" type="checkbox" checked="true" name="temperature"
                                value="temperature">
                        </label>
                    </div>
                    <div class="par btn-success">
                        <p class="desc" id="desc-ts">Tension Systolique</p>
                        <label>
                            <img id="ts" class="check-icon" src="/public/icons/blood-presure.png"
                                onmousemove="addDesc(this.id)" onmouseout="removeDesc(this.id)">
                            <input id="tensionSys" type="checkbox" checked="true" name="tensionSystolique"
                                value="tensionSystolique">
                        </label>
                    </div>
                    <div class="par btn-success">
                        <label>
                            <p class="desc" id="desc-td">Tension Diastolique</p>
                            <img id="td" class="check-icon" src="/public/icons/blood-pressure-control-tool.png"
                                onmousemove="addDesc(this.id)" onmouseout="removeDesc(this.id)">
                            <input id="tensionDia" type="checkbox" checked="true" name="tensionDiastolique"
                                value="tensionDiastolique">
                        </label>
                    </div>
                    <div class="par btn-success">
                        <p class="desc" id="desc-ox">Oxygene</p>
                        <label>
                            <img id="ox" class="check-icon" src="/public/icons/oxygen-mask.png"
                                onmousemove="addDesc(this.id)" onmouseout="removeDesc(this.id)">
                            <input id="oxygen" type="checkbox" checked="true" name="tauxOxygen" value="tauxOxygen">
                        </label>
                    </div>
                    <div class="par btn-success">
                        <p class="desc" id="desc-tg">Glycémie</p>
                        <label>
                            <img id="tg" class="check-icon" src="/public/icons/sugar-blood-level.png"
                                onmousemove="addDesc(this.id)" onmouseout="removeDesc(this.id)">
                            <input id="glucose" type="checkbox" checked="true" name="tauxGlucose" value="tauxGlucose">
                        </label>
                    </div>



                </div>
            </div>
            <div class="table-div">
                <table id="alerts" class="table table-sortable table-5">
                    <thead>
                        <tr>
                            <th>Patient</th>
                            <th>Date</th>
                            <th>Heure</th>
                            <th>Mesure</th>
                            <th>Alert</th>
                            <th>Différence</th>
                        </tr>
                    </thead>
                    <tbody>
                        </tr>
                        <% alerts.forEach((alert)=>{ %>
                        <tr>
                            <td id="patient" data-label="Patient"><a class="btn"
                                    href='userProfile?id=<%= alert.utilisateur._id %>'><%= alert.utilisateur.nom %>
                                    <%= alert.utilisateur.prenom %></a></td>
                            <td data-label="Date"><%= alert.date %></td>
                            <td data-label="Heure"><%= alert.temps %></td>
                            <td data-label="Mesure"><%= alert.mesure %></td>
                            <td data-label="Alert"><%= alert.text %></td>
                            <td data-label="Différence"><%= alert.difference %></td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
</body>
<script src="public/js/alerts.js"></script>
<script src="public/js/filtres.js"></script>
<script src="public/js/sortedTable.js"></script>
<script src="public/js/pop-up.js"></script>

</html>