<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PFA</title>
    <link rel="stylesheet" href="public/css/style.css" type="text/css">
    <script src="public/js/icons.js"></script>
</head>

<body>
    <nav class="navigation-bar">
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn"><i class="fas fa-bars"></i></label>
        <label class="logo">LOGO</label>
        <ul>
            <li><a href="medecinHome">Accueil</a></li>
            <li><a href="dayValues">Santé</a></li>
            <li><a href="demandes">Demandes</a></li>
            <li><a href="patients">Patients</a></li>
            <li><a href="myProfileMedecin" class="active">Profil</a></li>
            <li><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="container-header container-img-header">
            <div class="overlay"></div>
            <img src="public/images/doctor.jpg" class="img-header">
            <h1 class="text-header">Profil</h1>
        </div>
        <div class="container-body" id="editDiv">
            <a class="btn btn-round" href='myProfileMedecin?action=edit'>Modifer le profil</a>
        </div>
        <div class="container-body">
            <form class="profil" action="/myProfileMedecin" method="POST">
                <label class="noEditable">
                    <span>Nom complet</span>
                    <input class="login-input" type="text" name="fullname"
                        value="<%= medecin.nom %> <%=medecin.prenom %>" readonly>
                </label>
                <label>
                    <span>Email</span>
                    <input class="login-input" type="text" name="email" value="<%= medecin.email %>" required readonly>
                </label>
                <label>
                    <span>Téléphone</span>
                    <input class="login-input" type="number" name="telephone" value="<%= medecin.telephone %>" required
                        readonly>
                </label>
                <label>
                    <span>Pays</span>
                    <input class="login-input" type="text" name="pays" value="<%=  medecin.pays %>" required readonly>
                </label>
                <label>
                    <span>Ville</span>
                    <input class="login-input" type="text" name="ville" value="<%=  medecin.ville %>" required readonly>
                </label>
                <label>
                    <span>Spécialité</span>
                    <input class="login-input" type="text" name="specialite" value="<%= medecin.specialite %>" required
                        readonly>
                </label>
                <label>
                    <span>Adresse lieu travail</span>
                    <input class="login-input" type="text" name="adresse" value="<%= medecin.adresse_lieu_travail %>"
                        required readonly>
                </label>
                <label class="noEditable">
                    <span>Mes patients actuels</span>
                    <div class="buttons-inline">
                        <a class="btn btn-success" href='patients?filtre=current'>Consulter</a>
                    </div>
                </label>
                <label class="noEditable">
                    <span>Mes anciens patients</span>
                    <div class="buttons-inline">
                        <a class="btn btn-success" href='patients?filtre=old'>Consulter</a>
                    </div>
                </label>

                <div class="buttons-inline no-display" id="saveDiv">
                    <button class="btn btn-success" type="submit">Sauvegarder</button>
                    <a class="btn btn-echec" href="myProfileMedecin">Annuler</a>
                </div>
            </form>
        </div>
    </div>


    </div>


</body>

<script src="public/js/profile.js"></script>
<script src="public/js/sortedTable.js"></script>
<script src="public/js/app.js"></script>

</html>