<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PFA</title>
    <link rel="stylesheet" href="public/css/style.css" type="text/css">
    <script src="public/js/icons.js"></script>
</head>

<body>
    <nav class="navigation-bar">
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn"><i class="fas fa-bars"></i></label>
        <label class="logo">LOGO</label>
        <ul>
            <li><a href="medecinHome">Accueil</a></li>
            <li><a href="dayValues">Santé</a></li>
            <li><a href=" demandes">Demandes</a></li>
            <li><a href="patients">Patients</a></li>
            <li><a href="myProfileMedecin" class="active">Profil</a></li>
            <li><a href="/logout">Deconnexion</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="container-header container-img-header">
            <div class="overlay"></div>
            <img src="public/images/doctor.jpg" class="img-header">
            <h1 class="text-header">Profil</h1>
        </div>
        <div class="container-body">
            <form class="profil" method="POST">
                <label>
                    <span>Nom complet</span>
                    <input class="login-input" type="text" name="fullname"
                        value="<%= medecin.nom %> <%=medecin.prenom %>">
                </label>
                <label>
                    <span>Email</span>
                    <input class="login-input" type="text" name="email" value="<%= medecin.email %>">
                </label>
                <label>
                    <span>Téléphone</span>
                    <input class="login-input" type="number" name="phone" value="<%= medecin.telephone %>">
                </label>
                <label>
                    <span>Pays</span>
                    <input class="login-input" type="text" name="pays" value="<%=  medecin.pays %>">
                </label>
                <label>
                    <span>Ville</span>
                    <input class="login-input" type="text" name="ville" value="<%=  medecin.ville %>">
                </label>
                <label>
                    <span>Adresse lieu travail</span>
                    <input class="login-input" type="text" name="adresse" value="<%= medecin.adresse_lieu_travail %>"
                        required>
                </label>

                <label>
                    <span>Mes Patients</span>
                    <div class="buttons-inline">
                        <a class="btn" href='patients'>Consulter</a>
                    </div>
                    <label>

            </form>
        </div>
    </div>


    </div>


</body>

<script src="public/js/sortedTable.js"></script>
<script src="public/js/app.js"></script>

</html>