<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PFA</title>
    <link rel="stylesheet" href="public/css/style.css" type="text/css">
    <script src="public/js/icons.js"></script>
</head>

<body>
    <nav class="navigation-bar">
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn"><i class="fas fa-bars"></i></label>
        <label class="logo">LOGO</label>
        <ul>
            <li><a href="medecinHome">Accueil</a></li>
            <li><a href="dayValues">Santé</a></li>
            <li><a href=" demandes">Demandes</a></li>
            <li><a href="patients" class="active">Patients</a></li>
            <li><a href="myProfileMedecin">Profil</a></li>
            <li><a href="/logout">Deconnexion</a></li>
        </ul>
    </nav>
    <div class="container-home">
        <div class="container-img-header container-header">
            <div class="overlay"></div>
            <img src="/public/images/patient.jpg" class="img-header">
            <h1 class="text-header">La liste des patients</h1>
        </div>

        <div class="container-body">
            <div class="radio-group margin">
                <label class="radio">
                    <input type="radio" checked="true" name="patients" id="current" value="current"
                        onclick="getPatients()">
                    <span>Patients actuels</span>
                </label>
                <label class="radio">
                    <input type="radio" name="patients" id="old" value="old" onclick="getPatients()">
                    <span>Anciens patients</span>
                </label>
            </div>
            <div id="currentPatients">
                <table class="table table-sortable table-3">
                    <thead id="table-head">
                        <tr>
                            <th>Patient</th>
                            <th>Email</th>
                            <th>Date d'ajout</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% currentPatients.forEach((patient)=>{ %>
                        <tr>
                            <td id="patient" data-label="Patient"><a
                                    href='userProfile?id=<%= patient.utilisateur._id %>'><%= patient.utilisateur.nom %>
                                    <%= patient.utilisateur.prenom %></a></td>
                            <td data-label="Email"><%= patient.utilisateur.email %></td>
                            <td data-label="Début contrat"><%= patient.debutContrat %></td>
                            <td><a href='patientValues?id=<%= patient.utilisateur._id %>'
                                    class="btn btn-success">Santé</a></td>
                            <td><a href='userAlerts?id=<%= patient.utilisateur._id %>' class="btn btn-echec">Alertes</a>
                            </td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
            <div id="oldPatients">
                <table class="table table-sortable table-4">
                    <thead id="table-head">
                        <tr>
                            <th>Patient</th>
                            <th>Email</th>
                            <th>Date d'ajout</th>
                            <th>Fin contrat</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% oldPatients.forEach((patient)=>{ %>
                        <tr>
                            <td id="patient" data-label="Patient"><a
                                    href='userProfile?id=<%= patient.utilisateur._id %>'><%= patient.utilisateur.nom %>
                                    <%= patient.utilisateur.prenom %></a></td>
                            <td data-label="Email"><%= patient.utilisateur.email %></td>
                            <td data-label="Début contrat"><%= patient.debutContrat %></td>
                            <td data-label="Fin contrat"><%= patient.finContrat %></td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</body>

<script src="public/js/sortedTable.js"></script>
<script src="public/js/date.js"></script>
<script src="public/js/radio.js"></script>


</html>