<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PFA</title>
    <link rel="stylesheet" href="public/css/style.css" type="text/css">
    <script src="public/js/icons.js"></script>
</head>

<body>
    <nav class="navigation-bar">

        <input type="checkbox" id="check">
        <label for="check" class="checkbtn"><i class="fas fa-bars"></i></label>
        <label class="logo"><a href="patientHome">LOGO</a></label>

        <ul class="nav-items">
            <li><a href="dayValues">Santé</a></li>
            <li><a href="demandes">Demandes</a></li>
            <li class="active"><a href="patients">Patients</a></li>
        </ul>

        <div class="param">
            <ul>
                <div class="par">
                    <li id="li-alert">
                        <a href="#"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> </a>
                    </li>
                    <p class="desc desc-alert" id="alert">Alertes</p>
                    <p class="notif">1</p>
                    <div class="notif-div" id="alert-div-items">
                        <ul>
                            <li>
                                <div class="notif-line">
                                    <div class="notif-img"><i class="fa fa-exclamation-triangle"></i></div>
                                    <div class="notif-text">Alerte1
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="notif-line">
                                    <div class="notif-img"><i class="fa fa-exclamation-triangle"></i></div>
                                    <div class="notif-text">Alerte2
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="par">
                    <li id="li-notif">
                        <a href="#"><i class="fa fa-bell" aria-hidden="true"></i></a>
                    </li>
                    <p class="desc desc-notif" id="notif">Notifications</p>
                    <p class="notif">2</p>
                    <div class="notif-div" id="notif-div-items">
                        <ul>
                            <li>Notif 1</li>
                            <li>Notif 2</li>
                        </ul>
                    </div>
                </div>
                <div class="par">
                    <li id="li-profil">
                        <a href="myProfileMedecin"><i class="fa fa-user-md" aria-hidden="true"></i></a>
                    </li>
                    <p class="desc desc-profil" id="profil">Profil</p>
                </div>
            </ul>
        </div>
        <div class="param">
            <div class="last-par">
                <ul>
                    <li id="li-dec"><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
                    <p class="desc desc-dec" id="dec">Deconnexion</p>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-home">
        <div class="container-img-header container-header">
            <div class="overlay"></div>
            <img src="/public/images/patient.jpg" class="img-header">
            <h1 class="text-header">La liste des patients</h1>
        </div>
        <div class=" columns filter-bar">
            <div class="col filter-input-div">
                <i class="fa fa-search search-icon" aria-hidden="true"></i>
                <input class="filter-input" name="last" id="searchNom" type="text" placeholder="nom"
                    onkeyup="searchPatients()">
                <input class="filter-input" name="first" id="searchPrenom" type="text" placeholder="prenom"
                    onkeyup="searchPatients()">
            </div>
            <div class="col filter-select-div">
                <i class="fas fa-filter filter-icon"></i>
                <div class="filter-select-mini">
                    <span>Maladies</span>
                    <select class="filter-select" id="maladies" name="maladies" onchange="searchPatients()">
                        <option value="-1">tous</option>
                        <% maladies.forEach(maladie => {%>
                        <option value="<%= maladie %>"><%= maladie %></option>
                        <% }) %>
                    </select>
                </div>
                <div class="filter-select-mini">
                    <span>Pays</span>
                    <select class="filter-select" id="pays" name="pays" onchange="searchPatients()">
                        <option value="-1">tous</option>
                        <% pays.forEach(pays => {%>
                        <option value="<%= pays %>"><%= pays %></option>
                        <% }) %>
                    </select>
                </div>
                <div class="filter-select-mini">
                    <span>Villes</span>
                    <select class="filter-select" id="villes" name="villes" onchange="searchPatients()">
                        <option value="-1">tous</option>
                        <% villes.forEach(ville => {%>
                        <option value="<%= ville %>"><%= ville %></option>
                        <% }) %>
                    </select>
                </div>
            </div>
        </div>
        <div class="container-body container">
            <div class="center">



                <div class="radio-group margin">
                    <label class="radio">
                        <input type="radio" checked="true" name="patients" id="all" value="all" onclick="getPatients()">
                        <span>Tous les patients</span>
                    </label>
                    <label class="radio">
                        <input type="radio" name="patients" id="current" value="current" onclick="getPatients()">
                        <span>Patients actuels</span>
                    </label>
                    <label class="radio">
                        <input type="radio" name="patients" id="old" value="old" onclick="getPatients()">
                        <span>Anciens patients</span>
                    </label>
                </div>
            </div>
            <div id="allPatients">
                <table class="table table-sortable table-3">
                    <thead id="table-head">
                        <tr>
                            <th>Patient</th>
                            <th>Pays</th>
                            <th>Ville</th>
                            <th>Maladies</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% allPatients.forEach((patient)=>{ %>
                        <tr>
                            <td id="patient" data-label="Patient"><a class="btn"
                                    href='userProfile?id=<%= patient._id %>'><%= patient.nom %>
                                    <%= patient.prenom %></a></td>
                            <td data-label="Pays"><%= patient.pays %></td>
                            <td data-label="Ville"><%= patient.ville %></td>
                            <td>
                                <div class="buttons-inline">
                                    <div id="divMaladies<%= patient._id %>" style="display: none;">

                                        <% if(patient.maladies.length!=0 ) {patient.maladies.forEach(maladie => { %>
                                        <%= maladie %> <br>
                                        <% }) } else { %> Aucune maladie<% }%>
                                    </div>
                                    <i class="fa fa-eye" aria-hidden="true" id="showAll<%= patient._id %>"
                                        onclick="showMaladies(true, 'All' , '<%= patient._id %>')"></i>
                                    <i class="fa fa-eye-slash" aria-hidden="true" id="hideAll<%= patient._id %>"
                                        onclick="showMaladies(false, 'All' , '<%= patient._id %>')"
                                        style="display: none;"></i>
                                </div>
                            </td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
            <div id="currentPatients">
                <table class="table table-sortable table-3">
                    <thead id="table-head">
                        <tr>
                            <th>Patient</th>
                            <th>Pays</th>
                            <th>Ville</th>
                            <th>Maladies</th>
                            <th>Date d'ajout</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% currentPatients.forEach((patient)=>{ %>
                        <tr>
                            <td id="patient" data-label="Patient"><a class="btn"
                                    href='userProfile?id=<%= patient.utilisateur._id %>'><%= patient.utilisateur.nom %>
                                    <%= patient.utilisateur.prenom %></a>
                            </td>
                            <td data-label="Pays"><%= patient.utilisateur.pays %></td>
                            <td data-label="Ville"><%= patient.utilisateur.ville %></td>
                            <td>
                                <div class="buttons-inline">
                                    <div id="divMaladies<%= patient._id %>" style="display: none;">

                                        <% if(patient.utilisateur.maladies.length!=0 ) {patient.utilisateur.maladies.forEach(maladie => { %>
                                        <%= maladie %> <br>
                                        <% }) } else { %> Aucune maladie<% }%>
                                    </div>
                                    <i class="fa fa-eye" aria-hidden="true" id="showCurrent<%= patient._id %>"
                                        onclick="showMaladies(true, 'Current' , '<%= patient._id %>')"></i>
                                    <i class="fa fa-eye-slash" aria-hidden="true" id="hideCurrent<%= patient._id %>"
                                        onclick="showMaladies(false, 'Current' , '<%= patient._id %>')"
                                        style="display: none;"></i>
                                </div>
                            </td>
                            <td data-label="Début suivi"><%= patient.debutSuivi.toISOString().split('T')[0]; %></td>
                            <td><a href='patientValues?id=<%= patient.utilisateur._id %>'
                                    class="btn btn-success">Santé</a>
                            </td>
                            <td><a href='userAlerts?id=<%= patient.utilisateur._id %>' class="btn btn-echec">Alertes</a>
                            </td>

                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
            <div id="oldPatients">
                <table class="table table-sortable table-4">
                    <thead id="table-head">
                        <tr>
                            <th>Patient</th>
                            <th>Pays</th>
                            <th>Ville</th>
                            <th>Maladies</th>
                            <th>Date d'ajout</th>
                            <th>Fin suivi</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% oldPatients.forEach((patient)=>{ %>
                        <tr>
                            <td id="patient" data-label="Patient"><a class="btn"
                                    href='userProfile?id=<%= patient.utilisateur._id %>'><%= patient.utilisateur.nom %>
                                    <%= patient.utilisateur.prenom %></a>
                            </td>
                            <td data-label="Pays"><%= patient.utilisateur.pays %></td>
                            <td data-label="Ville"><%= patient.utilisateur.ville %></td>
                            <td>
                                <div class="buttons-inline">
                                    <div id="divMaladies<%= patient._id %>" style="display: none;">

                                        <% if(patient.utilisateur.maladies.length!=0 ) {patient.utilisateur.maladies.forEach(maladie => { %>
                                        <%= maladie %> <br>
                                        <% }) } else { %> Aucune maladie<% }%>
                                    </div>
                                    <i class="fa fa-eye" aria-hidden="true" id="showOld<%= patient._id %>"
                                        onclick="showMaladies(true, 'Old' , '<%= patient._id %>')"></i>
                                    <i class="fa fa-eye-slash" aria-hidden="true" id="hideCurrent<%= patient._id %>"
                                        onclick="showMaladies(false, 'Old' , '<%= patient._id %>')"
                                        style="display: none;"></i>
                                </div>
                            </td>
                            <td data-label="Début suivi"><%= patient.debutSuivi.toISOString().split('T')[0]; %></td>
                            <td data-label="Fin suivi"><%= patient.finSuivi.toISOString().split('T')[0]; %></td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</body>

<script src="public/js/filtres.js"></script>
<script src="public/js/sortedTable.js"></script>
<script src="public/js/radio.js"></script>


</html>