<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PFA</title>
    <link rel="stylesheet" href="public/css/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;1,300&display=swap"
        rel="stylesheet">
    <script src="public/js/icons.js"></script>
</head>

<body>
    <nav class="navigation-bar">

        <input type="checkbox" id="check">
        <label for="check" class="checkbtn"><i class="fas fa-bars"></i></label>
        <label class="logo"><a href="patientHome">LOGO</a></label>

        <ul class="nav-items">
            <li><a href="patientValues">Santé</a></li>
            <li><a href="#">Statistiques</a></li>
            <li><a href="patientDemandes">Demandes</a></li>
            <li class="active"><a href="medecins">Médecins</a></li>
            <li><a href="seuils">Seuils</a></li>
        </ul>
        <div class="param">
            <ul>
                <div class="par">
                    <li id="li-alert">
                        <a type="button" onclick="showAlerts()"><i class="fa fa-exclamation-triangle"
                                aria-hidden="true"></i> </a>
                    </li>
                    <p class="desc" id="alert">Alertes</p>
                    <p id="numberOfAlerts" class="notif"></p>
                    <div id="alerts" class="notif-div" id="alert-div-items">
                        <ul>
                            <% alerts.forEach(alert => { %>
                            <% if(alert.date == new Date(new Date().toISOString().split('T')[0])+"") { %>
                            <li>
                                <a href="userAlerts">
                                    <div class="notif-line">
                                        <div class="notif-img"><i class="fa fa-exclamation-triangle"></i></div>
                                        <% if(alert.alertedPatient == 0) { %>
                                        <div name="noAlerted" class="notif-text"><%= alert.text %> </div>
                                        <% } else { %>
                                        <div class="notif-text"><%= alert.text %> </div>
                                        <% } %>
                                    </div>
                                </a>
                            </li>

                            <% } %>
                            <% }) %>
                        </ul>
                    </div>

                </div>
                <div class="par">
                    <li id="li-notif">
                        <a type="button" onclick="showNotifications()"><i class="fa fa-bell" aria-hidden="true"></i></a>
                    </li>
                    <p class="desc" id="notif">Notifications</p>
                    <p id="numberOfNotif" class="notif"></p>
                    <div id="notifs" class="notif-div" id="notif-div-items">
                        <ul>
                            <% demandes.forEach(demande => { %>
                            <li>
                                <a href="medecinProfile?id=<%= demande._id %>">
                                    <div class="notif-line">
                                        <div class="notif-img"><i class="fa fa-user-md" aria-hidden="true"></i>
                                        </div>
                                        <div class="notif-text"><%= demande.nom %> <%= demande.prenom %> </div>
                                    </div>
                                </a>
                            </li>
                            <% }) %>
                        </ul>
                    </div>
                </div>
                <div class="par">
                    <li id="li-profil">
                        <a href="myProfileUser"><i class="fa fa-user" aria-hidden="true"></i></a>
                    </li>
                    <p class="desc desc-profil" id="profil">Profil</p>
                </div>
            </ul>
        </div>
        <div class="param">
            <div class="">
                <ul>
                    <li id="li-dec"><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
                    <p class="desc desc-dec" id="dec">Deconnexion</p>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-home">
        <div class="container-header container-img-header">
            <div class="overlay"></div>
            <img src="public/images/list.jpg" class="img-header">
            <h1 class="text-header">La liste des médecins disponibles</h1>
        </div>
        <div class="container-body">
            <div class=" columns filter-bar">
                <div class="col filter-input-div">
                    <i class="fa fa-search search-icon" aria-hidden="true"></i>
                    <input class="filter-input" name="last" id="searchNom" type="text" placeholder="Nom"
                        onkeyup="search()">
                    <input class="filter-input" name="first" id="searchPrenom" type="text" placeholder="Prenom"
                        onkeyup="search()">
                </div>
                <div class="col filter-select-div">
                    <i class="fas fa-filter filter-icon"></i>
                    <div class="filter-select-mini">
                        <span>Specialite</span>
                        <select class="filter-select" id="specialites" name="specialites" onchange="search()">
                            <option value="-1">tous</option>
                            <% specialites.forEach(specialite => {%>
                            <option value="<%= specialite %>"><%= specialite %></option>
                            <% }) %>
                        </select>
                    </div>
                    <div class="filter-select-mini">
                        <span>Pays</span>
                        <select class="filter-select" id="pays" name="pays" onchange="search()">
                            <option value="-1">tous</option>
                            <% pays.forEach(pays => {%>
                            <option value="<%= pays %>"><%= pays %></option>
                            <% }) %>
                        </select>
                    </div>
                    <div class="filter-select-mini">
                        <span>Villes</span>
                        <select class="filter-select" id="villes" name="villes" onchange="search()">
                            <option value="-1">tous</option>
                            <% villes.forEach(ville => {%>
                            <option value="<%= ville %>"><%= ville %></option>
                            <% }) %>
                        </select>
                    </div>
                </div>
            </div>
            <div class="center">
                <div class="radio-group margin">
                    <label class="radio">
                        <input type="radio" checked="true" name="medecins" id="all" value="all" onclick="getMedecins()">
                        <span>Tous les Medecins</span>
                    </label>
                    <label class="radio">
                        <input type="radio" name="medecins" id="current" value="current" onclick="getMedecins()">
                        <span>Medecins actuels</span>
                    </label>
                    <label class="radio">
                        <input type="radio" name="medecins" id="old" value="old" onclick="getMedecins()">
                        <span>Anciens medecins</span>
                    </label>
                </div>
            </div>
            <div id="allMedecins">
                <table class="table table-sortable table-5">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Pays</th>
                            <th>Ville</th>
                            <th>Spécialité</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% allMedecins.forEach((medecin)=>{ %>
                        <tr>
                            <td data-label="Nom"><%= medecin.nom %></td>
                            <td data-label="Prénom"><%= medecin.prenom %></td>
                            <td data-label="Pays"><%= medecin.pays %></td>
                            <td data-label="Ville"><%= medecin.ville %></td>
                            <td data-label="Spécialité"><%= medecin.specialite %></td>
                            <td data-label="Profil"><a class="btn"
                                    href='medecinProfile?id=<%= medecin._id %>'>Consulter</a>
                            </td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
            <div id="currentMedecins">
                <table class="table table-sortable table-7">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>Pays</th>
                            <th>Ville</th>
                            <th>Spécialité</th>
                            <th>Debut suivi</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% currentMedecins.forEach((_medecin)=>{ %>
                        <tr>
                            <td data-label="Nom"><%= _medecin.medecin.nom %></td>
                            <td data-label="Prénom"><%= _medecin.medecin.prenom %></td>
                            <td data-label="Pays"><%= _medecin.medecin.pays %></td>
                            <td data-label="Ville"><%= _medecin.medecin.ville %></td>
                            <td data-label="Spécialité"><%= _medecin.medecin.specialite %></td>
                            <td data-label="Début suivi"><%= _medecin.debutSuivi %></td>
                            <td><a class="btn" href='medecinProfile?id=<%= _medecin.medecin._id %>'>Consulter</a>
                            </td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
            <div id="oldMedecins">
                <table class="table table-sortable table-7">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>Pays</th>
                            <th>Ville</th>
                            <th>Spécialité</th>
                            <th>Debut suivi</th>
                            <th>Fin suivi</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% oldMedecins.forEach((_medecin)=>{ %>
                        <tr>
                            <td data-label="Nom"><%= _medecin.medecin.nom %></td>
                            <td data-label="Prénom"><%= _medecin.medecin.prenom %></td>
                            <td data-label="Pays"><%= _medecin.medecin.pays %></td>
                            <td data-label="Ville"><%= _medecin.medecin.ville %></td>
                            <td data-label="Spécialité"><%= _medecin.medecin.specialite %></td>
                            <td data-label="Début suivi"><%= _medecin.debutSuivi %></td>
                            <td data-label="Fin suivi"><%= _medecin.finSuivi %></td>
                            <td><a class="btn" href='medecinProfile?id=<%= _medecin.medecin._id %>'>Consulter</a>
                            </td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>


        </div>


    </div>


</body>
<script src="public/js/alerts.js"></script>
<script src="public/js/filtres.js"></script>
<script src="public/js/radio.js"></script>
<script src="public/js/sortedTable.js"></script>
<script src="public/js/app.js"></script>

</html>