<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= medecin.nom %> <%=medecin.prenom %> | Profil</title>
    <link rel="stylesheet" href="public/css/style.css" type="text/css">
    <script src="public/js/icons.js"></script>
</head>

<body>
    <nav class="navigation-bar">
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn"><i class="fas fa-bars"></i></label>
        <label class="logo">LOGO</label>
        <ul>
            <li><a href="patientHome">Accueil</a></li>
            <li><a href="patientValues">Santé</a></li>
            <li><a href="#">Statistiques</a></li>
            <li><a href="patientDemandes">Demandes</a></li>
            <li><a class="active" href="medecins">Médecins</a></li>
            <li><a href="seuils">Seuils</a></li>
            <li><a href="myProfileUser">Profil</a></li>
            <li><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="container-header container-img-header">
            <div class="overlay"></div>
            <img src="public/images/doctor.jpg" class="img-header">
            <h1 class="text-header">Les informations du médecin <span><%= medecin.nom %> <%= medecin.prenom %></span>
            </h1>
        </div>
        <div class="container-body">
            <div class="profil">
                <label>
                    <span>Nom complet</span>
                    <input class="login-input" type="text" name="fullname"
                        value="<%= medecin.nom %> <%=medecin.prenom %>" readonly>
                </label>
                <label>
                    <span>Email</span>
                    <input class="login-input" type="text" name="email" value="<%= medecin.email %>" readonly>
                </label>
                <label>
                    <span>Téléphone</span>
                    <input class="login-input" type="number" name="phone" value="<%= medecin.telephone %>" readonly>
                </label>
                <label>
                    <span>Pays</span>
                    <input class="login-input" type="text" name="pays" value="<%= medecin.pays %>" readonly>
                </label>
                <label>
                    <span>Ville</span>
                    <input class="login-input" type="text" name="ville" value="<%= medecin.ville %>" readonly>
                </label>
                <label>
                    <span>Spécialité</span>
                    <input class="login-input" type="text" name="specialite" value="<%= medecin.specialite %>" readonly>
                </label>
                <label>
                    <span>Adresse du lieu de travail</span>
                    <input class="login-input" type="text" name="adresse" value="<%= medecin.adresse_lieu_travail %>"
                        readonly>
                </label>
                <% if(ancienMedecin && !estMedecin) { %>
                <label>
                    <span>Date de dernier fin du suivi</span>
                    <input class="login-input" type="text" name="fin suivi" value="<%= ancienMedecin.finSuivi  %>">
                </label>
                <% } %>
                <% if(estMedecin) { %>
                <label>
                    <span>Date de début du suivi</span>
                    <input class="login-input" type="text" name="début suivi" value="<%= estMedecin.debutSuivi %>">
                </label>
                <div class="buttons-inline">
                    <form action="/medecinProfile?id=<%= medecin._id%>&action=end" method="post">
                        <button class="btn btn-echec" type="submit" value="Fin suivi">Fin suivi</button>
                    </form>
                    <a href="myProfileUser" class="btn">Retour</a>
                </div>
                <% } else if(sentMeDemande) { %>
                <label>
                    <span> Demande de nouveau suivi</span>
                </label>
                <div class="buttons-inline">
                    <form action="/medecinProfile?id=<%= medecin._id%>&action=yes" method="post">
                        <button class="btn btn-success" type="submit" value="Accepter">Accepter</button>
                    </form>
                    <form action="/medecinProfile?id=<%= medecin._id%>&action=no" method="post">
                        <button class="btn btn-echec" type="submit" value="Rejeter">Rejeter</button>
                    </form>
                </div>
                <% } else if(sentDemande) { %>
                <label>
                    <span>Demande nouveau suivi envoyée</span>
                    <form action="/medecinProfile?id=<%= medecin._id%>&action=annuler" method="post">
                        <input class="btn btn-success" type="submit" value="Annuler la demande">
                        <a href="medecins" class="btn btn-echec">Retour</a>
                    </form>
                </label>
                <% } else { %>
                <div class="buttons-inline">
                    <form action="/medecinProfile?id=<%= medecin._id%>&action=send" method="post">
                        <button class="btn btn-success" type="submit" value="Envoyer la demande">Envoyer la
                            demande</button>
                    </form>
                    <a href="medecins" class="btn btn-echec">Retour</a>
                </div>
                <% } %>
            </div>
        </div>
    </div>


    </div>


</body>

<script src="public/js/sortedTable.js"></script>
<script src="public/js/app.js"></script>

</html>