<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PFA</title>
    <link rel="stylesheet" href="public/css/style.css" type="text/css">
    <script src="public/js/icons.js"></script>
</head>

<body>
    <nav class="navigation-bar">

        <input type="checkbox" id="check">
        <div class="ham-logo">
            <label for="check" class="checkbtn"><i class="fas fa-bars"></i></label>
            <div class="log">
                <a href="patientHome"><img src="/public/images/logoPFA.png" class="logo"></a>
            </div>
        </div>

        <ul class="nav-items">
            <li><a href="patientValues">Santé</a></li>
            <li><a href="statistics">Statistiques</a></li>
            <li><a href="patientDemandes">Demandes</a></li>
            <li class="active"><a href="medecins">Médecins</a></li>
            <li><a href="seuils">Seuils</a></li>
        </ul>

        <div class="param">
            <ul>
                <div class="par">
                    <li id="li-alert">
                        <a type="button" onclick="showAlerts()"><i class="fa fa-exclamation-triangle"
                                aria-hidden="true"></i> </a>
                    </li>
                    <p class="desc" id="alert">Alertes</p>
                    <p id="numberOfAlerts" class="notif"></p>
                    <div id="alerts" class="notif-div" id="alert-div-items">
                        <ul>
                            <% alerts.forEach(alert => { %>
                            <% if(alert.date == new Date(new Date().toISOString().split('T')[0])+"") { %>
                            <li>
                                <a href="userAlerts">
                                    <div class="notif-line">
                                        <div class="notif-img"><i class="fa fa-exclamation-triangle"></i></div>
                                        <% if(alert.alertedPatient == 0) { %>
                                        <div name="noAlerted" class="notif-text"><%= alert.text %> </div>
                                        <% } else { %>
                                        <div class="notif-text"><%= alert.text %> </div>
                                        <% } %>
                                    </div>
                                </a>
                            </li>

                            <% } %>
                            <% }) %>
                        </ul>
                    </div>

                </div>
                <div class="par">
                    <li id="li-notif">
                        <a type="button" onclick="showNotifications()"><i class="fa fa-bell" aria-hidden="true"></i></a>
                    </li>
                    <p class="desc" id="notif">Notifications</p>
                    <p id="numberOfNotif" class="notif"></p>
                    <div id="notifs" class="notif-div" id="notif-div-items">
                        <ul>
                            <% demandes.forEach(demande => { %>
                            <li>
                                <a href="medecinProfile?id=<%= demande._id %>">
                                    <div class="notif-line">
                                        <div class="notif-img"><i class="fa fa-user-md" aria-hidden="true"></i>
                                        </div>
                                        <div class="notif-text"><%= demande.nom %> <%= demande.prenom %> </div>
                                    </div>
                            </li>
                            <% }) %>
                        </ul>
                    </div>
                </div>
                <div class="par">
                    <li id="li-profil">
                        <a href="myProfileUser"><i class="fa fa-user" aria-hidden="true"></i></a>
                    </li>
                    <p class="desc desc-profil" id="profil">Profil</p>
                </div>
            </ul>
        </div>
        <div class="param">
            <div class="last-par">
                <ul>
                    <li id="li-dec"><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
                    <p class="desc desc-dec" id="dec">Deconnexion</p>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-home">
        <div class="container-header container-img-header">
            <div class="overlay"></div>
            <img src="public/images/list.jpg" class="img-header">
            <h1 class="text-header">Vos anciens médecins </h1>
        </div>
        <div class="container-body">
            <div class="radio-group margin">
                <label class="radio">
                    <input type="radio" checked="true" name="medecins" id="current" value="current"
                        onclick="getMedecins()">
                    <span>Medecins actuels</span>
                </label>
                <label class="radio">
                    <input type="radio" name="medecins" id="old" value="old" onclick="getMedecins()">
                    <span>Anciens medecins</span>
                </label>
            </div>
            <div id="currentMedecins">
                <table class="table table-sortable table-7">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>Pays</th>
                            <th>Ville</th>
                            <th>Spécialité</th>
                            <th>Debut suivi</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% currentMedecins.forEach((_medecin)=>{ %>
                        <tr>
                            <td data-label="Nom"><%= _medecin.medecin.nom %></td>
                            <td data-label="Prénom"><%= _medecin.medecin.prenom %></td>
                            <td data-label="Pays"><%= _medecin.medecin.pays %></td>
                            <td data-label="Ville"><%= _medecin.medecin.ville %></td>
                            <td data-label="Spécialité"><%= _medecin.medecin.specialite %></td>
                            <td data-label="Début suivi"><%= _medecin.debutSuivi %></td>
                            <td><a class="btn" href='medecinProfile?id=<%= _medecin.medecin._id %>'>Consulter</a></td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
            <div id="oldMedecins">
                <table class="table table-sortable table-7">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>Pays</th>
                            <th>Ville</th>
                            <th>Spécialité</th>
                            <th>Debut suivi</th>
                            <th>Fin suivi</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% oldMedecins.forEach((_medecin)=>{ %>
                        <tr>
                            <td data-label="Nom"><%= _medecin.medecin.nom %></td>
                            <td data-label="Prénom"><%= _medecin.medecin.prenom %></td>
                            <td data-label="Pays"><%= _medecin.medecin.pays %></td>
                            <td data-label="Ville"><%= _medecin.medecin.ville %></td>
                            <td data-label="Spécialité"><%= _medecin.medecin.specialite %></td>
                            <td data-label="Début suivi"><%= _medecin.debutSuivi %></td>
                            <td data-label="Fin suivi"><%= _medecin.finSuivi %></td>
                            <td><a class="btn" href='medecinProfile?id=<%= _medecin.medecin._id %>'>Consulter</a></td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>

        </div>


    </div>


</body>
<script src="public/js/radio.js"></script>
<script src="public/js/sortedTable.js"></script>
<script src="ppublic/js/app.js"></script>

</html>