<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PFA</title>
    <link rel="stylesheet" href="public/css/style.css" type="text/css">
    <script src="public/js/icons.js"></script>
</head>

<body>
    <nav class="navigation-bar">
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn"><i class="fas fa-bars"></i></label>
        <label class="logo">LOGO</label>
        <ul>
            <li><a href="patientHome">Accueil</a></li>
            <li><a href="patientValues">Santé</a></li>
            <li><a href="#">Statistiques</a></li>
            <li><a href="patientDemandes">Demandes</a></li>
            <li><a href="medecins">Médecins</a></li>
            <li><a href="seuils">Seuils</a></li>
            <li><a href="myProfileUser" class="active"> Profil</a></li>
            <li><a href="/logout">Deconnexion</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="container-header container-img-header">
            <div class="overlay"></div>
            <img src="public/images/profil.jpg" class="img-header">
            <h1 class="text-header">Profil</h1>
        </div>
        <div class="container-body" id="editDiv">
            <a class="btn btn-round" href='myProfileUser?action=edit'>Modifer le profil</a>
        </div>
        <div class="container-body">
            <form class="profil" action="/myProfileUser" method="POST">
                <label class="noEditable">
                    <span>Nom complet</span>
                    <input class="login-input" type="text" name="fullname" value="<%= user.nom %> <%=user.prenom %>" readonly>
                </label>
                <label>
                    <span>Email</span>
                    <input class="login-input" type="text" name="email" value="<%= user.email %>" required readonly>
                </label>
                <label>
                    <span>Téléphone</span>
                    <input class="login-input" type="number" name="telephone" value="<%= user.telephone %>" required readonly>
                </label>
                <label>
                    <span>Pays</span>
                    <input class="login-input" type="text" name="pays" value="<%=  user.pays %>" required readonly>
                </label>
                <label>
                    <span>Ville</span>
                    <input class="login-input" type="text" name="ville" value="<%=  user.ville %>" required readonly>
                </label>
                <label>
                    <span>Date de naissance</span>
                    <input class="login-input" type="date" name="dateNaissance" value="<%= user.dateNaissance.toISOString().split('T')[0] %>" required readonly>
                </label>
                <label class="noEditable">
                    <span>Age</span>
                    <input class="login-input" type="text" name="birthday" value="<%= user.age %>" readonly>
                </label>
                <label class="editable">
                    <span>Groupe sanguin</span>
                    <select name="grpsang" id="gs">
                        <option value="AB+">AB+</option>
                        <option value="AB-">AB-</option>
                        <option value="A+">A+</option>
                        <option value="A-">A-</option>
                        <option value="B+">B+</option>
                        <option value="B-">B-</option>
                        <option value="O+">O+</option>
                        <option value="O-">O-</option>
                    </select>
                </label>
                <label class="noEditable">
                    <span>Groupe sanguin</span>
                    <input class="login-input" id="sang" type="text" value="<%= user.groupeSanguin %>" readonly>
                </label>
                <% if(user.maladies[0]!=null) { %>
                    <label>
                        <span>Maladies</span>
                        <input id="show" type="button" value="afficher" onclick="showMaladies(true)">
                        <input id="hide" type="button" value="cacher" onclick="showMaladies(false)" style="display: none;">
                        <input id="add" type="button" value="ajouter" onclick="addField()" style="display: none;">
                        <div id="maladies">
                            <% user.maladies.forEach((maladie, i) => { %>
                                <input id="maladie<%= i %>" name="maladie" class="maladie" type="text" value="<%= maladie %>" style="display: none;" readonly>
                                <input type="button" value="supprimer" id="<%= i %>" onclick="removeField(this.id)">
                                <br>
                            <%})%>
                        </div>
                    </label>
                <%}%>
                <br>
                <br>
                <label class="noEditable">
                    <span>Mes medecins actuels</span>
                    <div class="buttons-inline">
                        <a class="btn btn-success" href='medecins?filtre=current'>Consulter</a>
                    </div>
                </label> 
                <label class="noEditable">
                    <span>Mes anciens medecins</span>
                    <div class="buttons-inline">
                        <a class="btn btn-success" href='medecins?filtre=old'>Consulter</a>
                    </div>
                </label>             
                <div class="buttons-inline no-display" id="saveDiv" >
                    <button class="btn btn-success" type="submit">Sauvegarder</button>
                    <a class="btn btn-echec" href="myProfileUser">Annuler</a>
                </div>
            </form>
        </div>
    </div>


    </div>


</body>
<script src="public/js/radio.js"></script>
<script src="public/js/profile.js"></script>
<script src="public/js/sortedTable.js"></script>
<script src="public/js/app.js"></script>

</html>