<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PFA</title>
    <link rel="stylesheet" href="public/css/style.css" type="text/css">
    <script src="public/js/icons.js"></script>
</head>

<body>
    <nav class="navigation-bar">
        <input type="checkbox" id="check">
        <div class="ham-logo">
            <label for="check" class="checkbtn"><i class="fas fa-bars"></i></label>
            <div class="log">
                <a href="patientHome"><img src="/public/images/logoPFA.png" class="logo"></a>
            </div>
        </div>
        <ul class="nav-items">
            <li><a href="patientValues">Santé</a></li>
            <li><a href="statistics">Statistiques</a></li>
            <li><a href="patientDemandes">Demandes</a></li>
            <li><a href="medecins">Médecins</a></li>
            <li><a href="seuils">Seuils</a></li>
        </ul>

        <div class="param">
            <ul>
                <div class="par">
                    <li id="li-alert">
                        <a type="button" onclick="showAlerts()"><i class="fa fa-exclamation-triangle"
                                aria-hidden="true"></i> </a>
                    </li>
                    <p class="desc" id="alert">Alertes</p>
                    <p id="numberOfAlerts" class="notif"></p>
                    <div id="alerts" class="notif-div" id="alert-div-items">
                        <ul>
                            <% alerts.forEach(alert => { %>
                            <% if(alert.date == new Date(new Date().toISOString().split('T')[0])+"") { %>
                            <li>
                                <a href="userAlerts">
                                    <div class="notif-line">
                                        <div class="notif-img"><i class="fa fa-exclamation-triangle"></i></div>
                                        <% if(alert.alertedPatient == 0) { %>
                                        <div name="noAlerted" class="notif-text"><%= alert.text %> </div>
                                        <% } else { %>
                                        <div class="notif-text"><%= alert.text %> </div>
                                        <% } %>
                                    </div>
                                </a>
                            </li>

                            <% } %>
                            <% }) %>
                        </ul>
                    </div>

                </div>
                <div class="par">
                    <li id="li-notif">
                        <a type="button" onclick="showNotifications()"><i class="fa fa-bell" aria-hidden="true"></i></a>
                    </li>
                    <p class="desc" id="notif">Notifications</p>
                    <p id="numberOfNotif" class="notif"></p>
                    <div id="notifs" class="notif-div" id="notif-div-items">
                        <ul>
                            <% user.demandes.forEach(_demande => { %>
                            <li>
                                <a href="medecinProfile?id=<%= _demande.demande._id %>">
                                    <div class="notif-line">
                                        <div class="notif-img"><i class="fa fa-user-md" aria-hidden="true"></i>
                                        </div>
                                        <% if(_demande.statut == 0) { %>
                                            <div class="notif-text"><%= _demande.demande.nom %> <%= _demande.demande.prenom %> </div>
                                        <% } else if(_demande.statut == 1) { %>
                                            <div class="notif-text"><%= _demande.demande.nom %> <%= _demande.demande.prenom %> a accepté votre demande </div>
                                        <% } else { %>
                                            <div class="notif-text"><%= _demande.demande.nom %> <%= _demande.demande.prenom %> a refusé votre demande </div>
                                        <% }%>
                                    </div>
                                </a>
                            </li>
                            <% }) %>
                        </ul>
                    </div>
                </div>
                <div class="par">
                    <li id="li-profil">
                        <a href="myProfileUser"><i class="fa fa-user" aria-hidden="true"></i></a>
                    </li>
                    <p class="desc desc-profil" id="profil">Profil</p>
                </div>
            </ul>
        </div>
        <div class="param">
            <div class="last-par">
                <ul>
                    <li id="li-dec"><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
                    <p class="desc desc-dec" id="dec">Deconnexion</p>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-profil">
        <div class="container-header container-img-header">
            <div class="overlay"></div>
            <img src="public/images/profil.jpg" class="img-header">
            <h1 class="text-header">Profil</h1>
        </div>
        <div id="editDiv">
            <div class="chart-select">
                <a class="btn-icon" href='myProfileUser?action=edit'><i class="fa fa-pencil-square-o"
                        aria-hidden="true"></i> </a>
            </div>
        </div>
        <form class="profil" action="/myProfileUser" method="POST">
            <div class="columns">

                <div class="col col-2">
                    <div class="noEditable">
                        <label>
                            <span>Nom complet</span>
                            <input class="login-input" type="text" name="fullname"
                                value="<%= user.nom %> <%=user.prenom %>" readonly>
                        </label>
                    </div>
                    <label>
                        <span>Email</span>
                        <input class="login-input" type="text" name="email" value="<%= user.email %>" required readonly>
                    </label>
                    <label>
                        <span>Téléphone</span>
                        <input class="login-input" type="tel" name="telephone" value="<%= user.telephone %>" required
                            readonly>
                    </label>
                    <label>
                        <span>Pays</span>
                        <input class="login-input" type="text" name="pays" value="<%=  user.pays %>" required readonly>
                    </label>
                    <label>
                        <span>Ville</span>
                        <input class="login-input" type="text" name="ville" value="<%=  user.ville %>" required
                            readonly>
                    </label>
                </div>
                <div class="col col-2">
                    <label>
                        <span>Date de naissance</span>
                        <input class="login-input" type="date" name="dateNaissance"
                            value="<%= user.dateNaissance.toISOString().split('T')[0] %>" required readonly>
                    </label>
                    <div class="noEditable">
                        <label>
                            <span>Age</span>
                            <input class="login-input" type="text" name="birthday" value="<%= user.age %>" readonly>
                        </label>
                    </div>
                    <div class="editable">
                        <label>
                            <span>Groupe sanguin</span>
                            <select name="grpsang" id="gs">
                                <option value="AB+">AB+</option>
                                <option value="AB-">AB-</option>
                                <option value="A+">A+</option>
                                <option value="A-">A-</option>
                                <option value="B+">B+</option>
                                <option value="B-">B-</option>
                                <option value="O+">O+</option>
                                <option value="O-">O-</option>
                            </select>
                        </label>
                    </div>
                    <div class="noEditable">
                        <label>
                            <span>Groupe sanguin</span>
                            <input class="login-input" id="sang" type="text" value="<%= user.groupeSanguin %>" readonly>
                        </label>
                    </div>
                    <label>

                        <span>Maladies</span>

                        <% if(user.maladies[0]==null) { %>
                        <input id="pasMaladies" class="login-input" type="text" value="Aucune maladies" readonly>
                        <% } %>
                        <div id="maladies">
                            <% user.maladies.forEach((maladie, i) => { %>
                            <input id="maladie<%= i %>" name="maladie" class="maladie login-input" type="text"
                                value="<%= maladie %>" style="display: none;" readonly>
                            <%})%>
                        </div>
                        <% if(user.maladies[0]!=null) { %>
                        <div class="buttons-inline">
                            <i id="show" class="fa fa-eye" aria-hidden="true" onclick="showMaladies(true)"></i>
                            <i id="hide" class="fa fa-eye-slash" aria-hidden="true" onclick="showMaladies(false)"
                                style="display: none;"></i>
                        </div>
                        <% } %>
                        <div>
                            <a id="add" class="btn-icon btn-success" onclick="addField()"><i
                                    class="fas fa-plus"></i></a>
                        </div>


                    </label>
                </div>
            </div>
            <div class="buttons-inline">
                <div class="noEditable">
                    <div class="buttons-inline">
                        <a class="btn btn-success" href='medecins?filtre=current'>Mes medecins actuels</a>
                    </div>

                </div>
                <div class="noEditable">
                    <div class="buttons-inline">
                        <a class="btn" href='medecins?filtre=old'>Mes anciens medecins</a>
                    </div>

                </div>
                <div class="buttons-inline no-display" id="saveDiv">
                    <button class="btn btn-success" type="submit">Sauvegarder</button>
                    <a class="btn btn-echec" href="myProfileUser">Annuler</a>
                </div>
            </div>
        </form>
    </div>






</body>
<script src="public/js/alerts.js"></script>
<script src="public/js/radio.js"></script>
<script src="public/js/profile.js"></script>
<script src="public/js/sortedTable.js"></script>
<script src="public/js/app.js"></script>
<script src="/public/pidie-master/pidie-0.0.8.js"></script>
<script src="/public/pidie-master/cities.js"></script>


<script>
    new Pidie();
</script>

</html>