<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PFA</title>
    <link rel="stylesheet" href="public/css/style.css" type="text/css">
    <script src="public/js/icons.js"></script>
</head>

<body>
    <nav class="navigation-bar">

        <input type="checkbox" id="check">
        <label for="check" class="checkbtn"><i class="fas fa-bars"></i></label>
        <label class="logo"><a href="patientHome">LOGO</a></label>

        <ul class="nav-items">
            <li><a href="patientValues">Santé</a></li>
            <li><a href="statistics">Statistiques</a></li>
            <li><a href="patientDemandes">Demandes</a></li>
            <li><a href="medecins">Médecins</a></li>
            <li><a href="seuils">Seuils</a></li>
        </ul>

        <div class="param">
            <ul>
                <div class="par">
                    <li id="li-alert">
                        <a type="button" onclick="showAlerts()"><i class="fa fa-exclamation-triangle"
                                aria-hidden="true"></i> </a>
                    </li>
                    <p class="desc" id="alert">Alertes</p>
                    <p id="numberOfAlerts" class="notif"></p>
                    <div id="alerts" class="notif-div" id="alert-div-items">
                        <ul>
                            <% alerts.forEach(alert => { %>
                            <% if(alert.date == new Date(new Date().toISOString().split('T')[0])+"") { %>
                            <li>
                                <a href="userAlerts">
                                    <div class="notif-line">
                                        <div class="notif-img"><i class="fa fa-exclamation-triangle"></i></div>
                                        <% if(alert.alertedPatient == 0) { %>
                                        <div name="noAlerted" class="notif-text"><%= alert.text %> </div>
                                        <% } else { %>
                                        <div class="notif-text"><%= alert.text %> </div>
                                        <% } %>
                                    </div>
                                </a>
                            </li>

                            <% } %>
                            <% }) %>
                        </ul>
                    </div>

                </div>
                <div class="par">
                    <li id="li-notif">
                        <a type="button" onclick="showNotifications()"><i class="fa fa-bell" aria-hidden="true"></i></a>
                    </li>
                    <p class="desc" id="notif">Notifications</p>
                    <p id="numberOfNotif" class="notif"></p>
                    <div id="notifs" class="notif-div" id="notif-div-items">
                        <ul>
                            <% demandes.forEach(demande => { %>
                            <li>
                                <a href="medecinProfile?id=<%= demande._id %>">
                                    <div class="notif-line">
                                        <div class="notif-img"><i class="fa fa-user-md" aria-hidden="true"></i>
                                        </div>
                                        <div class="notif-text"><%= demande.nom %> <%= demande.prenom %> </div>
                                    </div>
                                </a>
                            </li>
                            <% }) %>
                        </ul>
                    </div>
                </div>
                <div class="par">
                    <li id="li-profil">
                        <a href="myProfileUser"><i class="fa fa-user" aria-hidden="true"></i></a>
                    </li>
                    <p class="desc desc-profil" id="profil">Profil</p>
                </div>
            </ul>
        </div>
        <div class="param">
            <div class="last-par">
                <ul>
                    <li id="li-dec"><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
                    <p class="desc desc-dec" id="dec">Deconnexion</p>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-home">
        <div class="container-header container-img-header">
            <div class="overlay"></div>
            <img src="public/images/happy.jpg" class="img-header">
            <h1 class="text-header">VOTRE SANTE, VOTRE PRIORITE</h1>
        </div>
        <div class="bg-modal" id="modal">
            <div class="modal-content">
                <div class="close" id="close">+</div>
                <div class="container-header container-img-header">
                    <img src="public/images/red.jpg" class="img-header">
                    <h1 class="text-header">Votre liste des alertes</h1>
                </div>

                <div class="container-body">
                    <table class="table table-sortable table-5">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Temps</th>
                                <th>Mesure</th>
                                <th>Alert</th>
                                <th>Différence</th>
                            </tr>
                        </thead>
                        <tbody>
                            </tr>
                            <% alerts.forEach((alert)=>{ %>
                            <tr>
                                <td data-label="Date"><%= alert.date.toISOString().split('T')[0] %></td>
                                <td data-label="Temps"><%= alert.temps %></td>
                                <td data-label="Mesure"><%= alert.mesure %></td>
                                <td data-label="Alert"><%= alert.text %></td>
                                <td data-label="Différence"><%= alert.difference %></td>
                            </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="col col-3 container-add">
                <div class="container-header add-header">
                    <p class="add-info">N'oubliez pas d'ajouter vos informations 4 fois par jour</p>
                    <p id="length" class="add-info">Vous avez entrez <%= length %> fois vos valeurs jusqu'à ce moment
                    </p>
                </div>
                <div class="container-body">

                    <form id="formValues" method="POST">
                        <input class="login-input" name="temperature" placeholder="Température" required>
                        <input class="login-input" name="tensionSystolique" placeholder="Tension systolique" required>
                        <input class="login-input" name="tensionDiastolique" placeholder="Tension diastolique" required>
                        <input class="login-input" name="tauxOxygene" placeholder="Taux oxygène" required>
                        <input class="login-input" name="tauxGlucose" placeholder="Taux glucose" required>
                        <div class="center">
                            <div class="radio-group">
                                <label class="radio">
                                    <input type="radio" checked="true" name="typeTest" id="aJeun" value="aJeun">
                                    <span>A jeun</span>
                                </label>
                                <label class="radio">
                                    <input type="radio" name="typeTest" id="postPrandial" value="postPrandial">
                                    <span>Post prandial</span>
                                </label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-round submit"
                            onclick="checkLength('<%= length %>')">Valider</button>
                    </form>
                </div>


            </div>
            <div class="col col-1 container-alert">
                <div class="container-header alert-header">
                    <p class="add-info">Alertes</p>
                </div>
                <div class="container-body">
                    <p class="alert-para">
                        Vous recevez une alerte quand la valeur d'une mesure ajoutée est anormale et cette alerte va
                        être
                        envoyer automatiquement à votre médecin.
                    </p>
                    <p class="alert-para">Pour consulter vos alertes cliquez ici</p>

                    <button class="btn btn-echec" id="alerte">Alertes</button>
                </div>

            </div>
        </div>
    </div>
</body>

<script src="public/js/alerts.js"></script>
<script src="public/js/sortedTable.js"></script>
<script src="public/js/pop-up.js"></script>

</html>