<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Demandes</title>
    <link rel="stylesheet" href="public/css/style.css" type="text/css">
    <script src="public/js/icons.js"></script>
</head>

<body>
    <nav class="navigation-bar">

        <input type="checkbox" id="check">
        <label for="check" class="checkbtn"><i class="fas fa-bars"></i></label>
        <label class="logo"><a href="patientHome">LOGO</a></label>

        <ul class="nav-items">
            <li><a href="patientValues">Santé</a></li>
            <li><a href="#">Statistiques</a></li>
            <li class="active"><a href="patientDemandes">Demandes</a></li>
            <li><a href="medecins">Médecins</a></li>
            <li><a href="seuils">Seuils</a></li>
        </ul>

        <div class="param">
            <ul>
                <div class="par">
                    <li id="li-alert">
                        <a type="button" onclick="showAlerts()"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> </a>
                    </li>
                    <p class="desc desc-alert" id="alert">Alertes</p>
                    <p id="numberOfAlerts" class="notif"></p>
                    <div id="alerts" class="notif-div" id="alert-div-items">
                        <ul>
                            <% alerts.forEach(alert => { %>
                                <% if(alert.date == new Date(new Date().toISOString().split('T')[0])+"") { %>
                                    <li><a href="userAlerts"><%= alert.text %></a></li>
                                <% } %>
                            <% }) %>
                        </ul>
                    </div>

                </div>
                <div class="par">
                    <li id="li-notif" onclick="active(this.id)">
                        <a type="button" onclick="showNotifications()"><i class="fa fa-bell" aria-hidden="true"></i></a>
                    </li>
                    <p class="desc desc-notif" id="notif">Notifications</p>
                    <p id="numberOfNotif" class="notif"></p>
                    <div id="notifs" class="notif-div" id="notif-div-items">
                        <ul>
                            <% demandes.forEach(demande => { %>
                                <li><a href="medecinProfile?id=<%= demande._id %>"><%= demande.nom %> <%= demande.prenom %></a></li>
                            <% }) %>
                        </ul>
                    </div>
                </div>
                <div class="par">
                    <li id="li-profil">
                        <a href="myProfileUser"><i class="fa fa-user" aria-hidden="true"></i></a>
                    </li>
                    <p class="desc desc-profil" id="profil">Profil</p>
                </div>
            </ul>
        </div>
        <div class="param">
            <div class="last-par">
                <ul>
                    <li id="li-dec"><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
                    <p class="desc desc-dec" id="dec">Deconnexion</p>
                </ul>
            </div>
        </div>
    </nav>
    <div class="big-container">
        <div class="container-header container-img-header">
            <div class="overlay"></div>
            <img src="public/images/list.jpg" class="img-header">
            <h1 class="text-header">La liste des demandes</h1>
        </div>
        <div class=" columns filter-bar">
            <div class="col filter-input-div">
                <i class="fa fa-search search-icon" aria-hidden="true"></i>
                <input class="filter-input" name="last" id="searchNom" type="text" placeholder="nom" onkeyup="search()">
                <input class="filter-input" name="first" id="searchPrenom" type="text" placeholder="prenom"
                    onkeyup="search()">
            </div>
            <div class="col filter-select-div">
                <i class="fas fa-filter filter-icon"></i>
                <div class="filter-select-mini">
                    <span>Specialite</span>
                    <select class="filter-select" id="specialites" name="specialites" onchange="search()">
                        <option value="-1">tous</option>
                        <% specialites.forEach(specialite => {%>
                        <option value="<%= specialite %>"><%= specialite %></option>
                        <% }) %>
                    </select>
                </div>
                <div class="filter-select-mini">
                    <span>Pays</span>
                    <select class="filter-select" id="pays" name="pays" onchange="search()">
                        <option value="-1">tous</option>
                        <% pays.forEach(pays => {%>
                        <option value="<%= pays %>"><%= pays %></option>
                        <% }) %>
                    </select>
                </div>
                <div class="filter-select-mini">
                    <span>Villes</span>
                    <select class="filter-select" id="villes" name="villes" onchange="search()">
                        <option value="-1">tous</option>
                        <% villes.forEach(ville => {%>
                        <option value="<%= ville %>"><%= ville %></option>
                        <% }) %>
                    </select>
                </div>
            </div>
        </div>
        <div class="container container-body">
            <table id="patientDemandes" class="table table-sortable table-5">
                <thead>
                    <tr>
                    <tr>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Pays</th>
                        <th>Ville</th>
                        <th>Spécialité</th>
                    </tr>
                    </tr>
                </thead>
                <tbody>
                    <% demandes.forEach((demande)=>{ %>
                    <tr>
                        <td data-label="Nom"><%= demande.nom %></td>
                        <td data-label="Prénom"><%= demande.prenom %></td>
                        <td data-label="Pays"><%= demande.pays %></td>
                        <td data-label="Ville"><%= demande.ville %></td>
                        <td data-label="Spécialité"><%= demande.specialite %></td>
                        <td data-label="Profil"><a class="btn" href='medecinProfile?id=<%= demande._id %>'>Consulter</a>
                        </td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>


    </div>


</body>
<script src="public/js/alerts.js"></script>
<script src="public/js/filtres.js"></script>
<script src="public/js/sortedTable.js"></script>
<script src="public/js/app.js"></script>

</html>