<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PFA</title>
    <link rel="stylesheet" href="public/css/style.css" type="text/css">
    <script src="public/js/icons.js"></script>
</head>

<body>
    <nav class="navigation-bar">

        <input type="checkbox" id="check">
        <div class="ham-logo">
            <label for="check" class="checkbtn"><i class="fas fa-bars"></i></label>
            <div class="log">
                <a href="patientHome"><img src="/public/images/logoPFA.png" class="logo"></a>
            </div>
        </div>

        <ul class="nav-items">
            <li><a href="patientValues">Santé</a></li>
            <li><a href="statistics">Statistiques</a></li>
            <li><a href="patientDemandes">Demandes</a></li>
            <li><a href="medecins">Médecins</a></li>
            <li class="active"><a href="seuils">Seuils</a></li>
        </ul>
        <div class="param">
            <ul>
                <div class="par">
                    <li id="li-alert">
                        <a type="button" onclick="showAlerts()"><i class="fa fa-exclamation-triangle"
                                aria-hidden="true"></i> </a>
                    </li>
                    <p class="desc" id="alert">Alertes</p>
                    <p id="numberOfAlerts" class="notif"></p>
                    <div id="alerts" class="notif-div" id="alert-div-items">
                        <ul>
                            <% if(alerts[0]==null) {%>

                            <div class="notif-none">Vous n'avez aucune alertes récentes
                            </div>

                            <% } %>
                            <% alerts.forEach(alert => { %>
                            <% if(alert.date == new Date(new Date().toISOString().split('T')[0])+"") { %>
                            <li>
                                <a href="userAlerts">
                                    <div class="notif-line">
                                        <div class="notif-img"><i class="fa fa-exclamation-triangle"></i></div>
                                        <% if(alert.alertedPatient == 0) { %>
                                        <div name="noAlerted" class="notif-text"><%= alert.text %> </div>
                                        <% } else { %>
                                        <div class="notif-text"><%= alert.text %> </div>
                                        <% } %>
                                    </div>
                                </a>
                            </li>

                            <% } %>
                            <% }) %>
                        </ul>
                    </div>

                </div>
                <div class="par">
                    <li id="li-notif">
                        <a type="button" onclick="showNotifications()"><i class="fa fa-bell" aria-hidden="true"></i></a>
                    </li>
                    <p class="desc" id="notif">Notifications</p>
                    <p id="numberOfNotif" class="notif"></p>
                    <div id="notifs" class="notif-div" id="notif-div-items">
                        <ul>
                            <% if(demandes[0]==null) {%>

                            <div class="notif-none">vous n'avez aucune notification
                            </div>

                            <% } %>
                            <% demandes.forEach(_demande => { %>
                            <li>
                                <a href="medecinProfile?id=<%= _demande.demande._id %>">
                                    <div class="notif-line">
                                        <% if(_demande.statut == 0) { %>
                                        <div class="notif-img"><i class="fa fa-user-md" aria-hidden="true"></i></div>
                                        <div class="notif-text"><span><%= _demande.demande.nom %>
                                                <%= _demande.demande.prenom %></span> vous a envoyé une demande
                                        </div>
                                        <% } else if(_demande.statut == 1) { %>
                                        <div class="notif-img"><i class="fa fa-check success" aria-hidden="true"></i>
                                        </div>
                                        <div class="notif-text"><span><%= _demande.demande.nom %>
                                                <%= _demande.demande.prenom %></span> a accepté votre demande </div>
                                        <% } else { %>
                                        <div class="notif-img"><i class="fa fa-times" aria-hidden="true"></i>
                                        </div>
                                        <div class="notif-text"><span><%= _demande.demande.nom %>
                                                <%= _demande.demande.prenom %></span> a refusé votre demande </div>
                                        <% }%>
                                    </div>
                                </a>
                            </li>
                            <% }) %>
                        </ul>
                    </div>
                </div>
                <div class="par">
                    <li id="li-profil">
                        <a href="myProfileUser"><i class="fa fa-user" aria-hidden="true"></i></a>
                    </li>
                    <p class="desc desc-profil" id="profil">Profil</p>
                </div>
            </ul>
        </div>
        <div class="param">
            <div class="last-par">
                <ul>
                    <li id="li-dec"><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
                    <p class="desc desc-dec" id="dec">Deconnexion</p>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-home">
        <div class="container-header container-img-header">
            <div class="overlay"></div>
            <img src="public/images/list.jpg" class="img-header">
            <h1 class="text-header">Les seuils normaux</h1>
        </div>
        <div class="filter-bar">
            <div class="filter-select-one">
                <i class="fas fa-filter filter-icon"></i>
                <span>Nom mesure</span>
                <div>
                    <select class="filter-select" id="names" name="names" onchange="searchSeuil()">
                        <option value="-1">tous</option>
                        <% names.forEach(name => {%>
                        <option value="<%= name %>"><%= name %></option>
                        <% }) %>
                    </select>
                </div>
            </div>
        </div>
        <div class="container-body">

            <div class="table-div">
                <table id="seuils" class="table table-sortable table-7">
                    <thead>
                        <tr>
                            <th>Mésure</th>
                            <th>Type</th>
                            <th>Sous type</th>
                            <th>Valeur min</th>
                            <th>Valeur max</th>
                            <th>Unité</th>
                            <th>Abréviation de l'unité</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% seuils.forEach((seuil)=>{ %>
                        <tr>
                            <td data-label="Nom de la mesure"><%= seuil.nom %></td>
                            <td data-label="Type"><%= seuil.type %></td>
                            <td data-label="Sous type"><%= seuil.sousType %></td>
                            <td data-label="Valeur min"><%= seuil.valMin %></td>
                            <td data-label="Valeur-max"><%= seuil.valMax %></td>
                            <td data-label="Unité"><%= seuil.unite %></td>
                            <td data-label="Abréviation de l'unité"><%= seuil.abreviation %></td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>


    </div>


</body>
<script src="public/js/alerts.js"></script>
<script src="public/js/filtres.js"></script>
<script src="public/js/sortedTable.js"></script>
<script src="public/js/app.js"></script>

</html>