<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <meta name="disabled-adaptations" content="watch">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>PFA</title>
  <link rel="shortcut icon" type="image/jpg" href="public/images/doctor.jpg">
  <link rel="stylesheet" href="/public/css/style.css" type="text/css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
  <script src="public/js/icons.js"></script>
</head>

<body onload="selectStat()">

  <nav class="navigation-bar">
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn"><i class="fas fa-bars"></i></label>
    <a id='logo' href="patientHome"><img src="/public/images/logoPFA.png" class="logo"></a>
    <ul id="navPatient" class="nav-items">
      <li><a href="patientValues">Santé</a></li>
      <li class="active"><a href="statistics">Statistiques</a></li>
      <li><a href="patientDemandes">Demandes</a></li>
      <li><a href="medecins">Médecins</a></li>
      <li><a href="seuils">Seuils</a></li>
    </ul>
    <ul id="navMedecin" class="nav-items">
      <li><a href="dayValues">Santé</a></li>
      <li class="active"><a href="Statistics">Statistiques</a></li>
      <li><a href="demandes">Demandes</a></li>
      <li><a href="patients">Patients</a></li>
    </ul>
    <div class="param">
      <ul>
        <div class="par">
          <li id="li-alert">
            <a type="button" onclick="showAlerts()"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> </a>
          </li>
          <p class="desc" id="alert">Alertes</p>
          <p id="numberOfAlerts" class="notif"></p>
          <div id="alerts" class="notif-div" id="alert-div-items">
            <ul>
              <% if(alerts[0]==null) {%>

              <div class="notif-none">Vous n'avez aucune alertes récentes
              </div>

              <% } %>
              <% if(estPatient) { %>
              <% alerts.forEach(alert => { %>

              <% if(alert.date == new Date(new Date().toISOString().split('T')[0])+"") { %>
              <li>
                <a href="userAlerts">
                  <div class="notif-line">
                    <div class="notif-img"><i class="fa fa-exclamation-triangle"></i></div>
                    <% if(alert.alertedPatient == 0) { %>
                    <div name="noAlerted" class="notif-text"><%= alert.text %> </div>
                    <% } else { %>
                    <div class="notif-text"><%= alert.text %> </div>
                    <% } %>
                  </div>
                </a>
              </li>

              <% } %>
              <% }) %>
              <% } else { %>
              <% alerts.forEach(alert => { %>

              <% if(alert.date == new Date(new Date().toISOString().split('T')[0])+"" ) { %>
              <li>
                <a href="userAlerts?id=<%= alert.utilisateur.id %>">
                  <div class="notif-line">
                    <div class="notif-img"><i class="fa fa-exclamation-triangle"></i></div>
                    <% if(!alert.alertedMedecin.some(el => el == medecin.id)) { %>
                    <div name="noAlerted" class="notif-text"><%= alert.text %> </div>
                    <% } else { %>
                    <div class="notif-text"><%= alert.text %> </div>
                    <% } %>
                  </div>
                </a>
              </li>

              <% } %>
              <% }) %>
              <% } %>

            </ul>
          </div>

        </div>
        <div class="par">
          <li id="li-notif">
            <a type="button" onclick="showNotifications()"><i class="fa fa-bell" aria-hidden="true"></i></a>
          </li>
          <p class="desc" id="notif">Notifications</p>
          <p id="numberOfNotif" class="notif"></p>
          <div id="notifs" class="notif-div" id="notif-div-items">
            <ul>
              <% if(!estPatient) {demandes = medecin.demandes} %>
              <% if(demandes[0]==null) {%>

              <div class="notif-none">vous n'avez aucune notification
              </div>

              <% } %>
              <% demandes.forEach(_demande => { %>
              <li>
                <% if(estPatient) { %>
                <a href="medecinProfile?id=<%= _demande.demande._id %>">
                  <%} else { %>
                  <a href="userProfile?id=<%= _demande.demande._id %>"><% 
                          }%>
                    <div class="notif-line">

                      <% if(_demande.statut == 0) { %>
                      <div class="notif-img"><i class="fa fa-user-md" aria-hidden="true"></i>
                      </div>
                      <div class="notif-text"><span><%= _demande.demande.nom %>
                          <%= _demande.demande.prenom %></span> vous a envoyé une demande
                      </div>
                      <% } else if(_demande.statut == 1) { %>
                      <div class="notif-img"><i class="fa fa-check success" aria-hidden="true"></i>
                      </div>
                      <div class="notif-text"><span><%= _demande.demande.nom %>
                          <%= _demande.demande.prenom %></span> a accepté votre demande </div>
                      <% } else { %>
                      <div class="notif-img"><i class="fa fa-times" aria-hidden="true"></i>
                      </div>
                      <div class="notif-text"><span><%= _demande.demande.nom %>
                          <%= _demande.demande.prenom %></span> a refusé votre demande </div>
                      <% }%>
                    </div>
                  </a>

              </li>
              <% }) %>
            </ul>
          </div>
        </div>
        <div class="par">
          <li id="li-profil">
            <a id="aProfile" href="myProfileUser"><i class="fa fa-user" aria-hidden="true"></i></a>
          </li>
          <p class="desc desc-profil" id="profil">Profil</p>
        </div>
      </ul>
    </div>
    <div class="param">
      <div class="last-par">
        <ul>
          <li id="li-dec"><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
          <p class="desc desc-dec" id="dec">Deconnexion</p>
        </ul>
      </div>
    </div>

  </nav>
  <div class="container-img-header container-header">
    <div class="overlay"></div>
    <img src="public/images/patient.jpg" class="img-header">
    <h1 class="text-header">Statistiques</h1>
  </div>

  <div class="columns">
    <div class="col col-2 border">
      <h1><span>Le moyen des données par jour</span></h1>

      <div>
        <select id="chartSelectDay">
          <option>Température</option>
          <option>Tension Systolique</option>
          <option>Tension Diastolique</option>
          <option>Saturation O2</option>
          <option>Glycémie</option>
        </select>

      </div>
      <div id="canvas">
        <canvas id="TD" width="400" height="400"></canvas>
      </div>

    </div>

    <div class="col col-2 border ">
      <h1><span>Le moyen des données par mois</span></h1>
      <div>
        <select id="chartSelectMonth">
          <option>Température</option>
          <option>Tension Systolique</option>
          <option>Tension Diastolique</option>
          <option>Saturation O2</option>
          <option>Glycémie</option>
        </select>

      </div>
      <div id="canvasMonth">
        <canvas id="TM" width="400" height="400"></canvas>
      </div>


    </div>
  </div>







  <% prelevements.forEach((prelevement)=>{ 
      var date = prelevement.date.toISOString().split('T')[0]; %>

  <div class="container-body">
    <table class="no-display table table-sortable table-6 table-no-header">
      <thead id="table-head">
        <tr>
          <th>Heure</th>
          <th class="temperatureHead">Température</th>
          <th class="tensionSysHead">Tension systolique</th>
          <th class="tensionDiaHead">Tension diastolique</th>
          <th class="oxygenHead">Saturation 02</th>
          <th class="glucoseHead">Glycémie</th>
        </tr>
      </thead>
      <tbody>
        <% for(i = 0; i < prelevement.temperature.length; i++) { 
                          var heure = prelevement.temperature[i].temps; %>
        <% if(prelevement.date + "" == new Date(new Date().toISOString().split('T')[0]) &&  estPatient) { %>
        <tr class="tabrow">
          <form action="/patientValues?heure=<%= heure %>" method="POST">
            <td class="no-display"><%=prelevement.date.toISOString().split('T')[0]%>
            </td>
            <td data-label="Heure"><%= prelevement.temperature[i].temps %></td>
            <td class="temperatureBody" data-label="Température">
              <input class="<%= heure %>" name="temperature" value="<%= prelevement.temperature[i].valeur %>" readonly>
            </td>
            <td class="tensionSysBody" data-label="Tension systolique">
              <input class="<%= heure %>" name="tensionSystolique"
                value="<%= prelevement.tensionSystolique[i].valeur %>" readonly>
            </td>
            <td class="tensionDiaBody" data-label="Tension diastolique">
              <input class="<%= heure %>" name="tensionDiastolique"
                value="<%= prelevement.tensionDiastolique[i].valeur %>" readonly>
            </td>
            <td class="oxygenBody" data-label="Taux d'oxygène">
              <input class="<%= heure %>" name="tauxOxygen" value="<%= prelevement.tauxOxygen[i].valeur %>" readonly>
            </td>
            <td class="glucoseBody" data-label="Glycémie">
              <div>
                <input class="<%= heure %>" name="tauxGlucose" value="<%= prelevement.tauxGlucose[i].valeur %>"
                  readonly>
                <div id="radio" class="no-display">
                  <div class="center">
                    <div class="radio-group">
                      <label class="radio">
                        <input type="radio" checked="true" name="typeTest" id="aJeun" value="aJeun">
                        <span>A jeun</span>
                      </label>
                      <label class="radio">
                        <input type="radio" name="typeTest" id="postPrandial" value="postPrandial">
                        <span>Post prandial</span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td class="<%= heure %>" id="edit<%= heure %>">
              <a class="btn-icon" onclick="showForm('<%= heure %>')"><i class="fas fa-edit"></i></a>
            </td>
            <td class="<%= heure %>" id="valid<%= heure %>" style="display: none;">
              <div>
                <button type="submit" class="btn-icon btn-success">
                  <i class="fas fa-check"></i>
                </button>
                <button onclick="cancel('<%= heure %>')" class="btn-icon btn-echec">
                  <i class="fa fa-window-close" aria-hidden="true"></i>
                </button>
              </div>
            </td>

          </form>
        </tr>

        <% } else {%>
        <tr class="tabrow">
          <td class="no-display" data-label="Date">
            <%=prelevement.date.toISOString().split('T')[0]%></td>
          <td data-label="Heure"><%= prelevement.temperature[i].temps %></td>
          <td class="temperatureBody" data-label="Température">
            <%= prelevement.temperature[i].valeur %></td>
          <td class="tensionSysBody" data-label="Tension systolique">
            <%= prelevement.tensionSystolique[i].valeur %></td>
          <td class="tensionDiaBody" data-label="Tension diastolique">
            <%= prelevement.tensionDiastolique[i].valeur %></td>
          <td class="oxygenBody" data-label="Saturation 02">
            <%= prelevement.tauxOxygen[i].valeur %></td>
          <td class="glucoseBody" data-label="Glycémie">
            <%= prelevement.tauxGlucose[i].valeur %></td>
        </tr>
        <% } %>
        <% } %>
      </tbody>
    </table>
  </div>

  <% }); %>




</body>
<script src="public/js/alerts.js"></script>
<script src="public/js/filtres.js"></script>
<script src="public/js/form.js"></script>
<script src="public/js/sortedTable.js"></script>
<script src="public/js/app.js"></script>
<script src="public/js/userNav.js"></script>
<script src="public/js/charts.js"></script>

</html>